
### Portworx


Portworx is a solution for running stateful containers, designed with DevOps in mind. With Portworx, you can manage any database or stateful  service on any infrastructure using Kubernetes. Portworx solves the five most common problems DevOps teams encounter when running stateful services in production: persistence, high availability, data automation, security, and support for multiple data stores and infrastructure.

Portworx offers the following features:

- Provision `PersistentVolumes` and `PersistentVolumeClaims`.
- Support for `VolumeSnapShot` to create volume snapshots.
- Ensure token authorization and encryption for `PersistenVolumeClaim` and `StorageClass` objects.
- Support for sharing volumes.

#### Related Information

- [Portworx documentation](https://docs.portworx.com/)
- [Portworx with CSI](https://docs.portworx.com/portworx-install-with-kubernetes/storage-operations/csi/) for more information.
- [Portworx release notes](https://docs.portworx.com/reference/release-notes/)
- [Portworx licensing](https://docs.portworx.com/reference/knowledge-base/px-licensing/)
- [Portworx support](https://docs.portworx.com/support/)

### Pure Storage

Pure Storage provides dynamic storage provisioning capabilities for stateful applications on demand.

Pure Storage offers the following features:

- On demand automated container storage.
- File and block on shared infrastructure.
- Seamless scaling across arrays without the need for manual intervention.
- Automatic failover that does not disrupt current running services.

#### Related Information


- [Pure Storage Documentation](httpsL//www.purestorage.com/docs.html)
- [Pure Storage Release Notes](https://support.purestorage.com/Special:Search?query=release+notes&type=wiki)
- [Pure Storage Datasheet](https://www.purestorage.com/docs.html?item=/type/pdf/subtype/doc/path/content/dam/pdf/en/datasheets/ds-pure-service-orchestrator.pdf)
- [Pure Storage Support](https://support.purestorage.com/)

### Hedvig

The Hedvig Distributed Storage Platform provides a modern software solution that lets you tailor a flexible and efficient data management system built on industry-standard x86 server hardware to support any application, hypervisor, container, or cloud.

Hedvig offers the following features:

- Dynamic provisioning of application-tailored storage for containers.
- Data persistence and always-available volumes, even for migrated containers.
- Support for containers, VMs, and bare metal. This eliminates the need to replace or introduce additional storage silos.
- Hybrid cloud and multi-cloud applications.

#### Related Information

- [Hedvig Documentation](https://www.commvault.com/support)
- [Hedvig Release Notes](https://www.commvault.com/?s=release+notes)
- [Hedvig Technical Overview](https://go.hedvig.io/WC-TechnicalOverview_LP-Registration-2.html)
- [Hedvig Product Datasheet](https://go.hedvig.io/rs/896-KUY-430/images/Hedvig%20-%20SDS%20Datasheet.pdf)
- [Hedvig with Kubernetes](https://go.hedvig.io/rs/896-KUY-430/images/White%20Paper%20-%20Kubernetes.pdf)
- [Persistent Storage for Kubernetes with Hedvig](https://go.hedvig.io/rs/896-KUY-430/images/Hedvig%20-%20Persistent%20Storage%20for%20Kubernetes.pdf)
- [Hedvig Container-Native Storage Solution Brief ](https://go.hedvig.io/rs/896-KUY-430/images/Hedvig%20-%20Solutions%20Brief%20-%20Containers_v3.0_.pdf)
- [hedvig support](https://www.hedvig.io/support/)

### Mayadata OpenEBS

MayaData offers software to accelerate the building and operations of stateful applications on Kubernetes based clouds, whether on-premises, on public or hybrid clouds. Mayadata leverages the open source OpenEBS and other open source components.

OpenEBS is the leading open-source project for container-attached and container-native storage on Kubernetes. OpenEBS adopts a Container Attached Storage (CAS) approach, where each workload is provided with a dedicated storage controller. OpenEBS implements granular storage policies and isolation that enables users to optimize storage for each specific workload.

OpenEBS runs in user space and does not have any Linux kernel module dependencies.

#### Related Information

- [MayaData](https://mayadata.io/)
- [OpenEBS Documentation](https://docs.openebs.io/)
- [OpenEBS Release Notes](https://docs.openebs.io/docs/next/releases.html)
- [OpenEBS GitHub Site](https://openebs.github.io/charts)
- [OpenEBS User Guides](https://docs.openebs.io/docs/next/quickstart.html)
- [License Information](https://github.com/openebs/openebs/blob/master/LICENSE)
- [MayaData Product](https://mayadata.io/product)
