/* Variables */

@import "variables/colors";
@import "variables/typography";
@import "variables/breakpoints";
@import "variables/cubic-bezier";
@import "variables/animations";
@import "variables/global";
@import "variables/fonts";

/* Vendors */

@import "vendor/normalize";
@import "vendor/typebase";
@import "vendor/prism";

/* Utils */

@import "utils/colors";

/* Base */

@import "base/typography";
@import "base/global";
@import "base/blockquote";
@import "base/layout";
@import "base/header";
@import "base/header-dropdown";
@import "base/footer";
@import "base/content";
@import "base/table";
@import "base/print-toc";
@import "base/print";
@import "base/search";
@import "pages/landing";
@import "pages/new-landing";
@import "base/printer-styling";

/* Components */

@import "components/sidebar";
@import "components/actions";
@import "components/grid";
@import "components/grid-toc";
@import "components/prism";
@import "components/form";
@import "components/tabs";
@import "components/localization";
@import "components/chooser";

/* Shortcodes */

@import "shortcodes/message";
@import "shortcodes/badge";
@import "shortcodes/tooltip";
@import "shortcodes/switch";
@import "shortcodes/image";
@import "shortcodes/button";
@import "shortcodes/swagger";

/* Vendors */


/* No Override */

@import "vendor/swagger";
@import "vendor/ngindox";