$bp-sm: 500px !default;
$bp-md: 768px !default;
$bp-lg: 1024px !default;
$bp-xl: 1500px !default;
$bp-xxl: 2000px !default;

@mixin sm-only() {
  @media (max-width: $bp-sm) {
    @content;
  }
}

@mixin sm() {
  @media (min-width: $bp-sm) {
    @content;
  }
}

@mixin md() {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin lg() {
  @media (min-width: $bp-lg) {
    @content;
  }
}

@mixin xl() {
  @media (min-width: $bp-xl) {
    @content;
  }
}

@mixin xxl() {
  @media (min-width: $bp-xxl) {
    @content;
  }
}

@mixin print() {
  @media print {
    @content;
  }
}

.sm-hide {
  @include sm {
    display: none;
  }
}

.md-hide {
  @include lg {
    display: none;
  }
}

.lg-hide {
  @include lg {
    display: none;
  }
}

.xl-hide {
  @include xl {
    display: none;
  }
}