$bp-sm: 500px !default;
$bp-md: 769px !default;
$bp-lg: 1025px !default;
$bp-xl: 1280px !default;
$bp-xxl: 1440px !default;

@mixin sm() {
  @media (min-width: $bp-sm) {
    @content;
  }
}

@mixin pre-md() {
  @media (min-width: $bp-md - 1) {
    @content;
  }
}

@mixin md() {
  @media (min-width: $bp-md) {
    @content;
  }
}

@mixin lg() {
  @media (min-width: $bp-lg) {
    @content;
  }
}

@mixin xl() {
  @media (min-width: $bp-xl) {
    @content;
  }
}

@mixin xxl() {
  @media (min-width: $bp-xxl) {
    @content;
  }
}

@mixin print() {
  @media print {
    @content;
  }
}

.sm-hide {
  @include sm {
    display: none;
  }
}

.md-hide {
  @include lg {
    display: none;
  }
}

.lg-hide {
  @include lg {
    display: none;
  }
}

.xl-hide {
  @include xl {
    display: none;
  }
}