$color-v2-purple: #330072;
$color-v2-lilac: #9678D3;
$color-v2-grey: #53565A;
$color-kaleb-purp: #33058D;
$color-dark: #101319;
$color-light: #FFFFFF;
$color-purple: #221944;
$color-purple-light: #7D58FF;
$color-purple-lightest: #E5DDFF;
$color-grey: #858585;
$color-grey-medium: #DDDDDD;
$color-grey-light: #F4f4f4;
$color-pink: #EB357C;
$color-gold: #F9A328;
$color-gold-light: #FDECD4;
$color-red: #EB293A;
$color-red-lightest:#FCD4D7;
//2018 Style Guide Colors
$color-meso-purple: #7D58FF;
$color-meso-pink: #FF007D;
$color-meso-dark-purple: #191133;
$color-meso-white: #FFFFFF;
$color-meso-dark-grey: #1B2029;
$color-meso-light-grey: #DADDE2;
$color-meso-blue: #157FF2;
$color-meso-green: #14C684;
$color-meso-yellow: #F9A328;
$color-meso-red: #EB293A;
$color-purple-l5: #F8F6FF;
$color-purple-l4: #E5DDFF;
$color-purple-l3: #9779FF;
$color-purple-l2: #8A69FF;
$color-purple-l1: #8360FF;
$color-purple-base: #7D58FF;
$color-purple-d1: #704FE5;
$color-purple-d2: #6446CC;
$color-purple-d3: #4B3499;
$color-purple-d4: #322366;
$color-purple-d5: #191133;
$color-pink-l5: #FFF2F8;
$color-pink-l4: #FF99CB;
$color-pink-l3: #FF66B1;
$color-pink-l2: #FF3397;
$color-pink-l1: #FF1A8A;
$color-pink-base: #FF007D;
$color-pink-d1: #E50070;
$color-pink-d2: #CC0064;
$color-pink-d3: #99004B;
$color-pink-d4: #660032;
$color-pink-d5: #330019;
$color-dark-grey-l5: #A3A5A9;
$color-dark-grey-l4: #76797E;
$color-dark-grey-l3: #484C53;
$color-dark-grey-l2: #32363E;
$color-dark-grey-l1: #262B33;
$color-dark-grey-base: #1B2029;
$color-dark-grey-d1: #181C24;
$color-dark-grey-d2: #151920;
$color-dark-grey-d3: #101318;
$color-dark-grey-d4: #0A0C10;
$color-dark-grey-d5: #050608;
$color-light-grey-l5: #F7F8F9;
$color-light-grey-l4: #F0F1F3;
$color-light-grey-l3: #E8EAED;
$color-light-grey-l2: #E1E3E7;
$color-light-grey-l1: #DDE0E4;
$color-light-grey-base: #DADDE2;
$color-light-grey-d1: #C3C6CA;
$color-light-grey-d2: #AEB0B4;
$color-light-grey-d3: #828487;
$color-light-grey-d4: #57585A;
$color-light-grey-d5: #2B2C2D;