$color-dark: #101319;
$color-light: #FFFFFF;
$color-purple: #221944;
$color-purple-light: #7D58FF;
$color-purple-lightest: #E5DDFF;
$color-grey: #858585;
$color-grey-medium: #DDDDDD;
$color-grey-light: #F4f4f4;
$color-pink: #EB357C;
$color-gold: #F9A328;
$color-gold-light: #FDECD4;
$color-red: #EB293A;
$color-red-lightest:#FCD4D7;
