$color-dark: #101319;
$color-light: #FFFFFF;
$color-purple: #221944;
$color-purple-light: #7D58FF;
$color-grey: #858585;
$color-grey-medium: #DDDDDD;
$color-grey-light: #F4f4f4;
$color-pink: #EB357C;
$color-gold: #FFD000;
