<!-- This disclaimer should be included in the permissions reference section of the security docs. -->
<p class="message--note"><strong>NOTE: </strong>Mesosphere does not currently support permissions inheritance for nested services in Admin Router.</p>
