<!-- This disclaimer should be included at the beginning of each page of a tutorial. -->
<p class="message--important"><strong>IMPORTANT: </strong> Mesosphere does not support this tutorial, associated scripts, or commands, which are provided without warranty of any kind. The purpose of this tutorial is purely to demonstrate capabilities, and it may not be suited for use in a production environment. Before using a similar solution in your environment, you should adapt, validate, and test.</p>
