<!-- This disclaimer should be included at the beginning of each page of a tutorial. -->

<p class="message--important"><strong>IMPORTANT: </strong> These tutorials are only intended to give you hands-on experience working with a limited set of DC/OS features. The information in the tutorial is not officially endorsed or supported by Mesosphere without any implied or explicit warranty of any kind. You should not use these steps or the information provided in a production environment without independent testing and validation.</p>
