[submodule "submodules/terraform-aws-dcos"]
	path = submodules/terraform-aws-dcos-master
	url = https://github.com/dcos-terraform/terraform-aws-dcos.git
[submodule "submodules/terraform-azurerm-dcos-master"]
	path = submodules/terraform-azurerm-dcos-master
	url = https://github.com/dcos-terraform/terraform-azurerm-dcos.git
[submodule "submodules/terraform-gcp-dcos-master"]
	path = submodules/terraform-gcp-dcos-master
	url = https://github.com/dcos-terraform/terraform-gcp-dcos.git
