<!-- This disclaimer should be included at the beginning of each page of a tutorial. -->
<p class="message--important"><strong>重要: </strong> Mesosphere 不支持本教程、相关脚本或命令，它们不提供任何形式的保证。本教程的目的是为了演示功能，可能不适合在生产环境中使用。在您的环境中使用类似的解决方案之前，您必须进行调整、验证和测试。</p>
