.clr-dark {
  color: $color-dark;
}

.clr-light {
  color: $color-light;
}

.bg-clr-dark {
  background-color: $color-dark;
}

.bg-clr-light {
  background-color: $color-light;
}

.bg-clr-warning {
  background-color: $color-gold;
}

.bg-clr-important {
  background-color: $color-grey;
}

.bg-clr-note {
  background-color: $color-purple-light;
}
