# Prerequisites for installation 

## On Konvoy

If you will be installing Dispatch on Konvoy, be aware that Konvoy supports only the following versions of our supported software:

| Package | Version | Description |
|-----|-----|-----|
| [Kubernetes](https://kubernetes.io/) |   | Container orchestration manager  |
| [Prometheus](https://prometheus.io/) |   |  An open-source monitoring system  |
| [Traefik](https://docs.traefik.io/) |    |Open source edge router  |
| [Helm](https://helm.sh/) |  2 | Package manager for Kubernetes |

For more details, see the [Konvoy documentation](https://docs.d2iq.com/dkp/konvoy/).
