The default DC/OS {{ model.techName }} installation provides reasonable defaults for trying out the service, but may not be sufficient for production use. You may require a different configuration depending on the context of the deployment.

## Prerequisites

- Depending on your security mode in Enterprise DC/OS, you may [need to provision a service account]({{ model.install.serviceAccountInstructionsUrl }}) before installing. Only someone with `superuser` permission can create the service account.
	- `strict` [security mode](/latest/security/ent/#security-modes) requires a service account.
	- `permissive` security mode a service account is optional.
	- `disabled` security mode does not require a service account.
- Your cluster must have at least {{ model.install.minNodeCount }} private nodes.
{{ model.install.customRequirements }}

## Default Installation

To start a basic test cluster {{ model.install.nodeDescription }}, run the following command on the DC/OS CLI. Enterprise DC/OS users may need to follow [additional instructions]({{ model.install.serviceAccountInstructionsUrl }}), depending on the security mode of the Enterprise DC/OS cluster.

```bash
$ dcos package install {{ model.packageName }}
```

This command creates a new instance with the default name `{{ model.serviceName }}`. Two instances cannot share the same name, so installing additional instances beyond the default instance requires customizing the `name` at install time for each additional instance.

All `dcos {{ model.packageName }}` CLI commands have a `--name` argument allowing the user to specify which instance to query. If you do not specify a service name, the CLI assumes a default value matching the package name, i.e. `{{ model.packageName }}`. The default value for `--name` can be customized via the DC/OS CLI configuration:

```bash
$ dcos {{ model.packageName }} --name={{ model.serviceName }} <cmd>
```

**Note:** Alternatively, you can [install from the DC/OS web interface](/latest/deploying-services/install/#installing-a-service-using-the-gui). If you install {{ model.techName }} from the DC/OS web interface, the `dcos {{ model.packageName }}` CLI commands are not automatically installed to your workstation. They may be manually installed using the DC/OS CLI:

```bash
dcos package install {{ model.packageName }} --cli
```

## Alternate install configurations

The following are some examples of how to customize the installation of your {{ model.techName }} instance.

In each case, you would create a new {{ model.techName }} instance using the custom configuration as follows:

```bash
$ dcos package install {{ model.packageName }} --options=sample-{{ model.serviceName }}.json
```

**Recommendation:** Store your custom configuration in source control.

### Installing multiple instances

By default, the {{ model.techName }} service is installed with a service name of `{{ model.serviceName }}`. You may specify a different name using a custom service configuration as follows:

```json
{
  "service": {
    "name": "{{ model.serviceName }}-other"
  }
}
```

When the above JSON configuration is passed to the `package install {{ model.packageName }}` command via the `--options` argument, the new service will use the name specified in that JSON configuration:

```bash
$ dcos package install {{ model.packageName }} --options={{ model.serviceName }}-other.json
```

Multiple instances of {{ model.techName }} may be installed into your DC/OS cluster by customizing the name of each instance. For example, you might have one instance of {{ model.techName }} named `{{ model.serviceName }}-staging` and another named `{{ model.serviceName }}-prod`, each with its own custom configuration.

After specifying a custom name for your instance, it can be reached using `dcos {{ model.packageName }}` CLI commands or directly over HTTP as described [below](#addressing-named-instances).

**Note:** The service name _cannot_ be changed after initial install. Changing the service name would require installing a new instance of the service against the new name, then copying over any data as necessary to the new instance.

### Installing into folders

In DC/OS 1.10 and above, services may be installed into _folders_ by specifying a slash-delimited service name. For example:

```json
{
  "service": {
    "name": "/foldered/path/to/{{ model.serviceName }}"
  }
}
```

The above example will install the service under a path of `foldered` => `path` => `to` => `{{ model.serviceName }}`. It can then be reached using `dcos {{ model.packageName }}` CLI commands or directly over HTTP as described [below](#addressing-named-instances).

**Note:** The service folder location _cannot_ be changed after initial install. Changing the service location would require installing a new instance of the service against the new location, then copying over any data as necessary to the new instance.

### Addressing named instances

After you've installed the service under a custom name or under a folder, it may be accessed from all `dcos {{ model.packageName }}` CLI commands using the `--name` argument. By default, the `--name` value defaults to the name of the package, or `{{ model.packageName }}`.

For example, if you had an instance named `{{ model.serviceName }}-dev`, the following command would invoke a `pod list` command against it:

```bash
$ dcos {{ model.packageName }} --name={{ model.serviceName }}-dev pod list
```

The same query would be over HTTP as follows:

```bash
$ curl -H "Authorization:token=$auth_token" <dcos_url>/service/{{ model.serviceName }}-dev/v1/pod
```

Likewise, if you had an instance in a folder like `/foldered/path/to/{{ model.serviceName }}`, the following command would invoke a `pod list` command against it:

```bash
$ dcos {{ model.packageName }} --name=/foldered/path/to/{{ model.serviceName }} pod list
```

Similarly, it could be queried directly over HTTP as follows:

```bash
$ curl -H "Authorization:token=$auth_token" <dcos_url>/service/foldered/path/to/{{ model.serviceName }}-dev/v1/pod
```

**Note:** You may add a `-v` (verbose) argument to any `dcos {{ model.packageName }}` command to see the underlying HTTP queries that are being made. This can be a useful tool to see where the CLI is getting its information. In practice, `dcos {{ model.packageName }}` commands are a thin wrapper around an HTTP interface provided by the DC/OS {{ model.techName }} Service itself.

### Virtual networks

DC/OS {{ model.techName }} supports deployment on [virtual networks](/1.10/networking/virtual-networks/) on DC/OS (including the `dcos` overlay network), allowing each container (task) to have its own IP address and not use port resources on the agent machines. This can be specified by passing the following configuration during installation:

```json
{
  "service": {
    "virtual_network_enabled": true
  }
}
```

**Note:** Once the service is deployed on a virtual network, it cannot be updated to use the host network.
