# <a name="provision-a-service-account"></a>Provisioning a service account

This section describes how to configure DC/OS access for {{ model.techName }}. Depending on your [security mode](/latest/security/ent/#security-modes/), {{ model.techName }} may require [service authentication](/latest/security/ent/service-auth/) for access to DC/OS.

| Security mode | Service Account |
|---------------|-----------------------|
| Disabled      | Not available   |
| Permissive    | Optional   |
| Strict        | Required |

If you install a service in permissive mode and do not specify a service account, Metronome and Marathon will act as if requests made by this service are made by an account with the [superuser permission](/latest/security/ent/perms-reference/#superuser).

## Prerequisites:

- [DC/OS CLI installed](/latest/cli/install/) and be logged in as a superuser.
- [Enterprise DC/OS CLI 0.4.14 or later installed](/latest/cli/enterprise-cli/#ent-cli-install).
- If your [security mode](/latest/security/ent/#security-modes/) is `permissive` or `strict`, you must [get the root cert](/latest/networking/tls-ssl/get-cert/) before issuing the `curl` commands in this section.

# <a name="create-a-keypair"></a>Create a Key Pair
In this step, a 2048-bit RSA public-private key pair is created using the Enterprise DC/OS CLI.

Create a public-private key pair and save each value into a separate file within the current directory.

```bash
dcos security org service-accounts keypair <private-key>.pem <public-key>.pem
```

<p class="message--note"><strong>NOTE: </strong>You can use the <a href="https://docs.mesosphere.com/latest/security/ent/secrets/">DC/OS Secret Store</a> to secure the key pair.</p>



# <a name="create-a-service-account"></a>Create a Service Account

From a terminal prompt, create a new service account (`<service-account-id>`) containing the public key (`<your-public-key>.pem`).

```bash
dcos security org service-accounts create -p <your-public-key>.pem -d "{{ model.techShortName }} <service-account-id>
```

You can verify your new service account using the following command.

```bash
dcos security org service-accounts show <service-account-id>
```

# <a name="create-an-sa-secret"></a>Create a Secret
Create a secret (`{{ model.packageName }}/<secret-name>`) with your service account (`<service-account-id>`) and private key specified (`<private-key>.pem`).

**NOTE:** If you store your secret in a path that matches the service name, for example, service name and secret path are both {{ model.serviceName }}, then only the service named {{ model.serviceName }} can access it.


## Permissive

```bash
dcos security secrets create-sa-secret <private-key>.pem <service-account-id> {{ model.serviceName }}/<secret-name>
```

## Strict

```bash
dcos security secrets create-sa-secret --strict <private-key>.pem <service-account-id> {{ model.packageName }}/<secret-name>
```

You can list the secrets with this command:

```bash
dcos security secrets list /
```
