## 服务设置

### 布局约束

布局约束允许您自定义 DC/OS 群集中部署服务的位置。布局约束使用 [Marathon 运营商](http://mesosphere.github.io/marathon/docs/constraints.html) 语法。例如，`[["hostname", "UNIQUE"]]` 确保每个代理最多部署一个 Pod。

通用任务是指定要对其进行部署的白名单系统列表。为此，请使用以下语法用于布局约束：

```
[["hostname", "LIKE", "10.0.0.159|10.0.1.202|10.0.3.3"]]
```

<p class="message--important"><strong>注意: </strong>请务必在这种情境中包括超额容量，以便如果白名单系统中的一个系统性能下降，还有足够的容量修复您的服务。</p>

#### 更新布局约束

群集更改，因此布局约束也随之变化。但是，已经运行的服务 Pod 将**不会**受到布局约束变化的影响。这是因为更改布局约束可能会使得当前运行的 pod 的当前布局失效，而且 Pod 不会自动被重新布置，因为这样做是破坏性的操作。我们建议使用以下程序更新 Pod 的布局约束：
- 更新服务中的布局约束定义。
- 对每个受影响的 Pod，一次执行一个 `pod replace`。这将（破坏性地）移动 Pod 使其符合新的布局约束。

### 区

**需要：** DC/OS 1.11 Enterprise 或更高版本。

通过引用 `@zone` 键，布局约束可以应用于 DC/OS 区。例如，可以通过包括此约束在最少三个不同区中扩散 Pod：
```
[["@zone", "GROUP_BY", "3"]]
```

<p class="message--warning"><strong>注意：</strong> 安装时不带有区约束的服务无法更新为有约束的服务，而安装时带有区约束的服务可能无法删除此约束。</p>

### 虚拟网络

DC/OS {{ model.techName }} 支持在 DC/OS 的 [虚拟网络](/cn/1.11/networking/virtual-networks/) 上进行部署（包括 `dcos` 覆盖网络），允许每个容器（任务）拥有自己的 IP 地址，而不使用代理机器上的端口资源。这可以通过在安装过程中传递以下配置来指定：

```json
{
  "service": {
    "virtual_network_enabled": true
  }
}
```

<p class="message--note"><strong>注意：</strong> 服务在虚拟网络上部署后，就无法将其更新以使用主机网络。</p>
