# <a name="provision-a-service-account"></a>配置服务帐户

本部分介绍如何为 {{ model.techName }} 配置 DC/OS 访问权限。根据您的 [安全模式](/cn/1.11/security/ent/#security-modes/)， {{ model.techName }} 可能需要 [服务身份认证](/cn/1.11/security/ent/service-auth/) 以访问 DC/OS。

| 安全模式 | 服务帐户 |
|---------------|-----------------------|
| 已禁用 | 不可用 |
| 宽容 | 可选 |
| 严格 | 必填 |

如果您在宽容模式下安装服务且未指定服务帐户，Metronome 和 Marathon 将按照此服务的请求是由具有 [超级用户权限](/cn/1.11/security/ent/perms-reference/#superuser)的帐户做出的那样行事。

**前提条件：**

- [已安装 DC/OS CLI](/cn/1.11/cli/install/) 并以超级用户身份登录。
- [已安装 Enterprise DC/OS CLI 0.4.14 或更高版本](/cn/1.11/cli/enterprise-cli/#ent-cli-install)。
- 如果您的 [安全模式](/cn/1.11/security/ent/#security-modes/) 是 `permissive` 或 `strict`，您必须 [获取 root 证书](/cn/1.11/networking/tls-ssl/get-cert/)，才能发出本部分中的 curl 命令。

# <a name="create-a-keypair"></a>创建密钥对
在此步骤中，系统使用 Enterprise DC/OS CLI 创建 2048 位 RSA 公私密钥对。

创建公私密钥对并将每个值保存到当前目录中的单独文件中。

```bash
dcos security org service-accounts keypair <private-key>.pem <public-key>.pem
```

**注意：** 您可以使用 [DC/OS 密钥存储库](/cn/1.11/security/ent/secrets/) 以确保密钥对的安全。

# <a name="create-a-service-account"></a>创建服务帐户

从终端提示中创建一个新的服务帐户(`<service-account-id>`) containing the public key (`<your-public-key>.pem`）。

```bash
dcos security org service-accounts create -p <your-public-key>.pem -d "{{ model.techShortName }} <service-account-id>
```

**注意：** 您可以使用以下命令验证您的新服务帐户。

```bash
dcos security org service-accounts show <service-account-id>
```

# <a name="create-an-sa-secret"></a>创建密钥
创建密钥 (`{{ model.packageName }}//<secret-name>`) with your service account (`<service-account-id>`) and private key specified (`<private-key>.pem`）。

如果您在与服务名称匹配的路径中存储密钥（例如，您的服务名称和密钥路径都是 `{{ model.packageName }}`)，则只有名为 `{{ model.packageName }}` 的服务可以访问它。

## 宽容 (Permissive)

```bash
dcos security secrets create-sa-secret <private-key>.pem <service-account-id> {{ model.serviceName }}/<secret-name>
```

## 严格 (Strict)

```bash
dcos security secrets create-sa-secret --strict <private-key>.pem <service-account-id> {{ model.packageName }}/<secret-name>
```

**注意：**
您可以使用以下命令列出密钥：

```bash
dcos security secrets list /
```
