- docker.elastic.org
- download.docker.com
- gcr.io
- github.com
- grafana.com
- k8s.gcr.io
- kubernetes.github.io
- mesosphere.github.io
- mirror.centos.org
- ntp.org
- nvidia.github.io
- packages.cloud.google.com
- prometheus-community.github.io
- quay.io
- raw.githubusercontent.com
- registry.hub.docker.com
- stakater.github.io
- storage.googleapis.com

For the deploy host, make sure domains `registry.hub.docker.com`, `mesosphere.github.io`, and `github.com` are accessible.

<p class="message--note"><strong>NOTE: </strong>In an airgap installation, these domains do not need to be accessible.</p>
