version: '3.1'

services:
  docs:
    image: mesosphere/dcos-docs-site
    build:
      context: ../
      dockerfile: ./docker/Dockerfile.docs
      args:
        nginx_dir: ./docker/nginx
        git_branch: ${GIT_BRANCH}
        algolia_update: ${ALGOLIA_UPDATE}
        algolia_project_id: ${ALGOLIA_PROJECT_ID}
        algolia_public_key: ${ALGOLIA_PUBLIC_KEY}
        algolia_private_key: ${ALGOLIA_PRIVATE_KEY}
        algolia_index: ${ALGOLIA_INDEX}
        algolia_clear_index: ${ALGOLIA_CLEAR_INDEX}
        algolia_skip_sections: ${ALGOLIA_SKIP_SECTIONS}
        metalsmith_skip_sections: ${METALSMITH_SKIP_SECTIONS}
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - build:/src/build
    #   - build-pdf:/src/build-pdf
  pdf:
    image: mesosphere/dcos-docs-pdf
    build:
      context: ../
      dockerfile: ./docker/Dockerfile.htmltopdf
      args:
        git_branch: ${GIT_BRANCH}
    volumes:
      - build-pdf:/src
  test:
    depends_on:
      - docs
    image: 18fgsa/html-proofer
    volumes:
      - build:/src
    command: /src/build --empty-alt-ignore --log-level=debug --url-swap \/latest\/(.*):'/1.12/\1'

volumes:
  build:
  build-pdf:
