version: '3.1'

services:
  docs:
    image: mesosphere/dcos-docs-site
    build:
      context: ../
      dockerfile: ./docker/Dockerfile.docs
      args:
        nginx_dir: ./docker/nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./build:/src
      - ./build-pdf:/src/build-pdf
  pdf:
    image: mesosphere/dcos-docs-pdf
    build:
      context: ../
      dockerfile: ./docker/Dockerfile.pdf
    volumes:
      - ./build-pdf:/src/build-pdf
