div(class='action-bar')
  div(class='action-bar__section')
    svg(class='action-bar__icon')
      use(xlink:href="assets/sprite.svg#share")
    svg(class='action-bar__icon')
      use(xlink:href="assets/sprite.svg#download")
    svg(class='action-bar__icon')
      use(xlink:href="assets/sprite.svg#printer")
  div(class='action-bar__section')
    svg(class='action-bar__icon')
      use(xlink:href="assets/sprite.svg#github")
    svg(class='action-bar__icon')
      use(xlink:href="assets/sprite.svg#slack")
    svg(class='action-bar__icon')
      use(xlink:href="assets/sprite.svg#message-square")
