div(class='action-bar')
  ul(class='action-bar__list')
    li(class='action-bar__item')
      a(href='/', class='action-bar__link')
        svg(class='action-bar__icon')
          use(xlink:href="/assets/sprite.svg#share")
    li(class='action-bar__item')
      a(href='/', class='action-bar__link')
        svg(class='action-bar__icon')
          use(xlink:href="/assets/sprite.svg#download")
    li(class='action-bar__item')
      a(href='/', class='action-bar__link')
        svg(class='action-bar__icon')
          use(xlink:href="/assets/sprite.svg#printer")
    li(class='action-bar__item')
      a(href='/', class='action-bar__link')
        svg(class='action-bar__icon')
          use(xlink:href="/assets/sprite.svg#github")
    li(class='action-bar__item')
      a(href='/', class='action-bar__link')
        svg(class='action-bar__icon')
          use(xlink:href="/assets/sprite.svg#slack")
    li(class='action-bar__item')
      a(href='/', class='action-bar__link')
        svg(class='action-bar__icon')
          use(xlink:href="/assets/sprite.svg#message-square")
