div(class='actions')
  ul(class='actions__list')
    li(class='actions__item')
      a(href='/', class='actions__link')
        svg(class='actions__icon')
          use(xlink:href="/assets/sprite.svg#share")
        span(class='actions__text') Share
    li(class='actions__item')
      a(href='/', class='actions__link')
        svg(class='actions__icon')
          use(xlink:href="/assets/sprite.svg#download")
        span(class='actions__text') Download
    li(class='actions__item')
      a(href='/', class='actions__link')
        svg(class='actions__icon')
          use(xlink:href="/assets/sprite.svg#printer")
        span(class='actions__text') Print
    li(class='actions__item')
      a(href='/', class='actions__link')
        svg(class='actions__icon')
          use(xlink:href="/assets/sprite.svg#github")
        span(class='actions__text') Github
    li(class='actions__item')
      a(href='/', class='actions__link')
        svg(class='actions__icon')
          use(xlink:href="/assets/sprite.svg#slack")
        span(class='actions__text') Slack
    li(class='actions__item')
      a(href='/', class='actions__link')
        svg(class='actions__icon')
          use(xlink:href="/assets/sprite.svg#message-square")
        span(class='actions__text') Feedback
