div(class='content__sections')
  h5(class='content__sections__title') In This Post
  ul(class='content__sections-list')
    for heading in headings
      li(id=heading.id, class='content__sections-item')!= heading.text
