if (!title)
  - throw `File ${path} does not contain a title`

.actions
  ul.actions__list
    li.actions__item
      button.actions__link(onclick='javascript:window.print()')
        i.actions__icon(data-feather='printer')
        span.actions__text Print
    li.actions__item
      a.actions__link(href=`https://github.com/mesosphere/dcos-docs-site/tree/main/pages${path}/index.md`, target="_blank")
        i.actions__icon(data-feather='github')
        span.actions__text Contribute
