if (headings.length)
  aside(class='content__sections')
    ul(class='content__sections-list')
      for heading in headings
        - var headClass = 'content__sections-item--' + heading.tag
        li(class=headClass + ' content__sections-item')
          a(href='#' + heading.id)!= heading.text
