- var pdfPath = '/pdf/' + path + '/' + path.replace(/\//g, '-') + '.pdf'
- var githubBranch = (env === 'production') ? 'master' : 'develop'
- var githubPath = 'https://github.com/mesosphere/mesosphere-dcos-documentation/tree/' + githubBranch + '/pages/' + path + '/index.md'

mixin svg-external(svg_file, svg_id, svg_class, svg_title)
  svg(class=svg_class,title=svg_title)
    use(xlink:href= svg_file)

div(class='actions')
  ul(class='actions__list')
    li(class='actions__item')
      a(href='/', class='actions__link addthis_button_compact')
        i(class='actions__icon', data-feather='share')
        span(class='actions__text') Share
    li(class='actions__item')
      a(href=pdfPath, class='actions__link')
        i(class='actions__icon', data-feather='download')
        span(class='actions__text') Download
    li(class='actions__item')
      a(href='javascript:window.print()', class='actions__link')
        i(class='actions__icon', data-feather='printer')
        span(class='actions__text') Print
    li(class='actions__item')
      a(href=githubPath, class='actions__link')
        i(class='actions__icon', data-feather='github')
        span(class='actions__text') Github
    li(class='actions__item')
      a(href='/', class='actions__link')
        i(class='actions__icon', data-feather='slack')
        span(class='actions__text') Slack
    li(class='actions__item')
      a(href='/', class='actions__link')
        include assets/rss.svg
        span(class='actions__text') RSS
    li(class='actions__item')
      a(href='/', class='actions__link')
        i(class='actions__icon', data-feather='message-square')
        span(class='actions__text') Feedback
