if (headings.length > 0)
  aside.content__sections
    .content__sections-list-container
      ul.content__sections-list
        for heading in headings
          li.content__sections-item(class=`content__sections-item--${heading.tag}`)
            a(href="#" + heading.id)!= heading.text
