div(class='actions')
  ul(class='actions__list')
    li(class='actions__item')
      a(href='/', class='actions__link')
        svg(class='actions__icon')
          use(xlink:href="/assets/sprite.svg#share")
    li(class='actions__item')
      a(href='/', class='actions__link')
        svg(class='actions__icon')
          use(xlink:href="/assets/sprite.svg#download")
    li(class='actions__item')
      a(href='/', class='actions__link')
        svg(class='actions__icon')
          use(xlink:href="/assets/sprite.svg#printer")
    li(class='actions__item')
      a(href='/', class='actions__link')
        svg(class='actions__icon')
          use(xlink:href="/assets/sprite.svg#github")
    li(class='actions__item')
      a(href='/', class='actions__link')
        svg(class='actions__icon')
          use(xlink:href="/assets/sprite.svg#slack")
    li(class='actions__item')
      a(href='/', class='actions__link')
        svg(class='actions__icon')
          use(xlink:href="/assets/sprite.svg#message-square")