.landing {
  &__header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    padding: 2rem;
  }
  &__logo {
    &--mobile {
      width: 96px;
      height: 24px;
    }
    &--desktop {
      display: none;
    }
  }
  &__menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 1rem;
    font-weight: bold;
  }
  &__item {
    display: inline-block;
    margin-left: 10px;
    text-decoration: none;
    color: rgba($color-light, 0.6);
    line-height: 1;
    &--active {
      color: $color-light;
    }
    & a {
      color: inherit;
      text-decoration: none;
    }
  }
  &__hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    background: #131626 url('/assets/k8-hero.png') bottom no-repeat;
    background-size: cover;
  }
  &__title {
    font-size: 40px;
    color: $color-light;
  }
  &__container {
    max-width: $bp-lg;
    margin: 0 auto;
    padding: 2rem 2rem 0 2rem;
  }
  &__search {
    position: relative;
    max-width: 600px;
    width: 75%;
    border-bottom: 1px $color-purple-light solid;
    &-label {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      color: $color-purple-light !important;
    }
    &-input {
      width: 100%;
      padding: 0.5rem 0;
      border: 0;
      background: transparent;
      color: $color-light;
      outline: 0;
      &::-webkit-input-placeholder {
        color: $color-light;
        opacity: 1;
      }
      &:-moz-placeholder {
        color: $color-light;
        opacity: 1;
      }
      &::-moz-placeholder {
        color: $color-light;
        opacity: 1;
      }
      &:-ms-input-placeholder {
       color: $color-light;
       opacity: 1;
      }
    }
  }
  &__results {
    width: 100%;
    &-header {
      text-transform: uppercase;
      font-weight: 600;
      padding: 10px;
      border-bottom: 1px solid rgba(228, 228, 228, 0.6);
    }
    &-dropdown-menu {
      width: 100%;
      margin-top: 10px;
      font-size: 0.8rem;
      border: 1px solid rgba(228, 228, 228, 0.6);
      border-radius: 0 0 2px 2px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .25), 0 0 1px rgba(0, 0, 0, .35);
      background: #fff;
    }
    &-link {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: $color-dark;
      &:hover {
        background-color: #f9f9f9;
        & .landing__results-title {
          color: $color-purple-light;
        }
      }
    }
    &-title {
      display: block;
      margin-bottom: 5px;
    }
    &-footer {
      display: flex;
      border-top: 1px solid rgba(228, 228, 228, 0.6);
      padding: 10px;
      img {
        height: 20px;
      }
    }
  }
  &__external {
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    &-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    &-icon {
      width: 30px;
      height: 30px;
    }
    &-title {
      color: $color-dark;
      margin-top: 1rem;
    }
    &-description {
      margin-top: $leading / 2;
    }
  }
  &__footer {
    padding: 6rem 0;
    &__container {
      margin: 0 auto;
      text-align: center;
    }
    &__logo {
      width: 83px;
      height: 30px;
    }
    &__menu {
      margin-top: 2rem;
      a {
        display: inline-block;
        color: $color-dark;
        font-weight: bold;
        text-decoration: none;
        &:first-of-type {
          margin-right: 1rem;
        }
      }
    }
    &__copyright {
      margin-top: 1rem;
      color: #acacac;
      font-size: 0.8rem;
    }
  }
  @include md {
    &__header {
      justify-content: flex-start;
      align-items: center;
      padding: 0 2rem;
    }
    &__logo {
      &--mobile {
        display: none;
      }
      &--desktop {
        display: block;
        width: 280px;
        height: 28px;
      }
    }
    &__menu {
      font-size: initial;      
    }
    &__item {
      margin-left: 3rem;
      font-weight: bold;
    }
    &__hero {
      height: 500px;
      background-position: bottom right;
      background-size: fill;
    }
    &__title {
      font-size: 48px;
    }
    &__search {
      &-input {
        position: relative;
        font-size: 2rem;
        padding: 1rem 0;
      }
    }
    &__container {
      padding: 4rem 2rem 0 2rem;
    }
    &__grid {
      &-item {
        width: calc(50% - 10px);
      }
    }
    &__external {
      flex-direction: row;
      margin-top: 3rem;
      &-item {
        &:not(:last-of-type) {
          margin-right: 1rem;
        }
      }
    }
  }
  @include lg {
    &__title {
      font-size: 60px;
    }
  }
  @include xl {
    &__title {
      font-size: 70px;
    }
  }
  @include xxl {
    &__title {
      font-size: 80px;
    }
  }
}