.landing {
    a {
      text-decoration: none;
    }
    p {
        margin: 0 0 1.7rem 0;
    }
    .header__menu a:hover {
        color: $color-dark;
    }
    &__hero-content {
        width: 100%;
    }
    &__hero-tile {
        display: block;
        float: left;
        height: auto;
        margin-right: 2em;
        width: 25vw;
        min-width: 8em;
        max-width: 10em;
        @include md {
            margin-right: 4em;
        }
        img {
          border-radius: 10px;
          box-shadow: 0 0 18px 0 rgba(45, 45, 45, .10);
          transition: all 250ms ease-out;
        }
        &:hover img {
          box-shadow: 0 8px 20px 0 rgba(45, 45, 45, .23);
          transform: translateY(-5px);
        }
    }
}

.color__grey {
  color: $color-v2-grey;
}

.blurb {
    &__item {
        display: flex;
        border-bottom: 1px solid $color-light-grey-l2;
        padding: 2.5em 0;
    }
    &__header {
        color: $color-v2-purple;
        font-size: 26px;
        padding: 0;
        line-height: 1em;
        margin: 0 0 1.5rem 0;
    }
    &__links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }
    &__link {
        color: $color-v2-purple;
        margin-right: 1.5em;
    }
}
