.landing {
    a {
      text-decoration: none;
    }
    p {
        margin: 0 0 1.5rem 0;
    }
    .header__menu a:hover {
        color: $color-dark;
    }
    &__container {
      // accommodate extra 80px from banner and nav bar
      padding-top: 160px;
    }
}

.color__grey {
  color: $color-v2-grey;
}

.blurb {
    &__item {
        @include sm {
            display: flex;
            padding: 3rem 0;
        }
        border-bottom: 1px solid $color-light-grey-l2;
        transition: all .5s;
        padding: 5rem 0;
        @include md {
          max-height: 300px;
        }
        &.disabled {
          opacity: 0;
          max-height: 0;
          padding: 0;
          pointer-events: none;
        }
    }
    &__header {
        color: $color-v2-purple;
        font-size: 26px;
        padding: 0;
        line-height: 1em;
        margin: 0 0 1.5rem 0;
    }
    &__links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        flex-wrap: wrap;
    }
    &__link {
        color: $color-v2-purple;
        margin-right: 1.5em;
    }

    &__left {
      padding-right: 2em;
      flex-basis: 25%;
      @include lg {
        padding-right: 3.5em;
      }
      img {
        border-radius: .5rem;
        box-shadow: 0 0 18px 0 rgba(45, 45, 45, .10);
        transition: all 250ms ease-out;
        margin-bottom: 1em;
        @include sm {
          margin-bottom: 0;
        }
      }
      &:hover img {
        box-shadow: 0 8px 20px 0 rgba(45, 45, 45, .23);
        transform: translateY(-5px);
      }
    }

    &__right {
      flex-basis: 75%;
      display: flex;
      flex-direction: column;
    }
    &__desc {
      flex-grow: 1;
    }
}
