.landing {
    .header__menu {
        a:hover {
            color: $color-dark;
        }
    }
    a {
        text-decoration: none;
    }
    &__main-hero {
        display: flex;
        justify-content: center;
        height: 280px; //will need adjusted height
        background: white;
        border-bottom: 1px solid rgba(0, 0, 0, .23);
    }
    &__hero-tile-container {
        display: flex;
        max-width: 1025px;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        width: 100%;
        margin-top: 100px;
        // padding-left: 1rem;
    }
    &__hero-tile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(0, 0, 0, .08);
        border-radius: 4px;
        box-shadow: 0 0 18px 0 rgba(45, 45, 45, .10);
        height: 45%;
        width: 45%;
        min-width: 150px;
        min-height: 150px;
        z-index: 10;
        transition: all 250ms ease-out;
    }
    &__hero-tile:hover {
        box-shadow: 0 8px 20px 0 rgba(45, 45, 45, .23);
        transform: translateY(-5px);
    }
    &__tile-logo {
        border-radius: 2px;
        background-repeat: no-repeat;
        margin-top: 20px;
        height: 60px;
        width: 60px;
    }
    &__tile-title {
        font-size: 16px;
        font-weight: bold;
        color: $color-v2-purple;
        text-decoration: none;
        margin: 0;
    }
    @include md {
        &__main-hero {
            // display: flex;
            // justify-content: center;
            height: 450px;
            // background: white;
            // border-bottom: 1px solid rgba(0, 0, 0, .23);
        }
        &__hero-tile-container {
            align-items: center;
            justify-content: space-around;
            width: 100%;
            margin-top: 80px;
            // padding-left: 1rem;
        }
        &__hero-tile {
            height: 45%;
            width: 45%;
            min-width: 300px;
            min-height: 300px;
        }
        &__tile-logo {
            margin-top: 20px;
            height: 160px;
            width: 160px;
        }
        &__tile-title {
            font-size: 26px;
            font-weight: bold;
        }
    }
}

.blurb {
    &__container {}
    &__item {
        border-bottom: 1px solid $color-light-grey-l2;
        min-height: 100px;
    }
    &__header {
        color: $color-v2-purple;
        font-size: 26px;
        h3 {
            margin: 0;
            padding: 0;
            line-height: 1em;
        }
    }
    &__desc-wrapper {}
    &__desc {
        color: $color-v2-grey;
    }
    &__links {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
        margin-bottom: 1em;
    }
    &__link {
        color: $color-v2-purple;
        margin: 10px 20px 2px 0px;
    }
}