您可以在 DC/OS GUI 中编辑和安装服务的配置文件。您还可以下载 `config.json` 文件以供参考。

1. 在 DC/OS GUI 中，单击左侧导航菜单中的 **目录**。将显示目录。

 ![Catalog](/1.12/img/GUI-Catalog-Main_View-1_12.png)

 图 3. 目录屏幕

1. 从目录中选择您的服务。在这种情况下，我们将通过点击 Elastic 镜像选择 Elastic。将显示 Elastic 服务实例页面。

1. 在 Elastic 服务实例页面上，单击 **查看和运行** 按钮。

 ![查看按钮](/1.12/img/1.12-gui-config-2.png)

 图 4. “查看和运行”按钮
    
1. 将显示“编辑配置”页面。如果需要查看代码，请单击右上角的 **JSON 编辑器** 按钮。

 ![JSON 编辑器](/1.12/img/1.12-gui-config-3.png)

 图 5. “JSON 编辑器”按钮

1. 屏幕将拆分，显示“编辑配置”页面和文本编辑器。对“编辑配置”页面进行的任何更改都会反映在右侧的 JSON 文件中。

 ![分画面屏幕](/1.12/img/1.12-gui-config-4.png)

 图 6. “编辑配置”分画面屏幕
    
1. 完成更改后，请单击 **查看和运行** 按钮。将显示 **查看配置** 页面。这将显示“安装前说明”，提醒您该服务的先决条件。您有机会查看和编辑配置文件或下载它。

 ![查看配置](/1.12/img/1.12-gui-config-5.png)

 图 7. “查看配置”页面

1. 如果您要进行更多更改，请单击 **编辑配置** 按钮。您也可以通过单击 **下载配置** 按钮，下载 `config.json` 文件。这将开始下载到系统指定的下载文件夹。这对于参考、升级和备份非常有用。

 ![分画面屏幕](/1.12/img/1.12-gui-config-7.png)

 图 8. “下载配置”按钮

1. 完成安装配置后，请单击右上角的 **运行服务** 按钮。

 ![运行服务](/1.12/img/1.12-gui-config-6.png)

 图 9. “运行服务”按钮

1. DC/OS 将安装您的服务并显示操作成功画面。

 ![操作成功画面](/1.12/img/elastic-install-success.png)

 图 10. 操作成功的画面

1. 在 **服务** 选项卡中，您可以看到您的服务现在正在运行。

 ![服务选项卡](/1.12/img/1.12-gui-config-8.png)

 图 11. 显示 Elastic 服务的服务画面
