<!-- This disclaimer should be included at the beginning of each page of a tutorial. -->

<p class="message--important"><strong></strong>重要信息：教程旨在为您提供使用一系列有限 DC/OS 特性的实践经验，无任何类型的暗示或明确保证。Mesosphere 没有正式支持所提供的任何信息，包括示例脚本、命令或应用程序。您不应在无独立测试和验证的生产环境中使用此信息。</p>
