- k8s.gcr.io
- registry.hub.docker.com
- quay.io
- gcr.io
- packages.cloud.google.com
- download.docker.com
- github.com
- grafana.com
- raw.githubusercontent.com
- mesosphere.github.io
- storage.googleapis.com
- ntp.org
- docker.elastic.org

<p class="message--note"><strong>NOTE: </strong>In an airgap installation, these domains do not need to be accessible.</p>
