### KUDO {{ model.addon }} Introduction

Kubernetes Universal Declarative Operator (KUDO) provides a declarative approach to building production-grade Kubernetes [operators](https://kubernetes.io/docs/concepts/extend-kubernetes/operator/).
- KUDO is built to help manage day 2 operations of services on Kubernetes, including stateful services, through the management of operators.
- KUDO is built to support upgrades of services along with backup, recovery, and the needs of observability.
- KUDO is integrated into Kommander and does not require any [initialization](https://kudo.dev/docs/cli/installation.html#kudo-initialization) via the [KUDO CLI](https://kudo.dev/docs/cli/installation.html#cli-installation)

The following articles give an overview of KUDO:
- [KUDO Project Site](https://kudo.dev/)
- [Main Concepts](https://kudo.dev/docs/what-is-kudo.html#main-concepts)
- [Developing Operators](https://kudo.dev/docs/developing-operators/getting-started.html#prerequisites)
- [Architecture](https://kudo.dev/docs/architecture.html)
