.message {
  margin: 1.5rem 0 0;
  line-height: 1.5rem;
  padding: 0.8rem 1rem;
  border: 1px solid $color-dark;
  border-radius: 3px;
  color: $color-light;
  background: $color-dark;
  font-weight: 500;
  &--outline {
    border: 1px solid $color-dark;
    color: $color-dark;
    background: transparent;
  }
  &--warning {
    border: 1px solid #F2D98E;
    color: $color-dark;
    background: #F2D98E;
  }
  &--error {
    border: 1px solid #E77975;
    color: $color-light;
    background: #E77975;
  }
  &--info {
    border: 1px solid #505868;
    color: $color-light;
    background: #505868;
  }
  &--success {
    border: 1px solid #89DA71;
    color: $color-light;
    background: #89DA71;
  }
  &--outline-warning {
    border: 1px solid #F2D98E;
    color: #F2D98E;
    background: transparent;
  }
  &--outline-error {
    border: 1px solid #E77975;
    color:  #E77975;
    background: transparent;
  }
  &--outline-info {
    border: 1px solid ;
    color: #505868;
    background: transparent;
  }
  &--outline-success {
    border: 1px solid #89DA71;
    color: #89DA71;
    background: transparent;
  }
}
