.tooltip {
  background: #eee;
  color: $color-dark;
  padding: 0 6px;
}

[data-tooltip] {
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

[data-tip],
[data-tip] *,
[data-tip] *:before,
[data-tip] *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-kerning: auto;
}

[data-tip],
[data-tip] * {
  color: white;
  -webkit-text-size-adjust: 100%;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

[data-tip] {
  background: $color-purple;
  width: calc(100% - 10px);
  margin-left: 5px;
  margin-right: 5px;
  border: 1px solid rgba(0, 0, 0, .5);
  position: absolute;
  padding: 1em;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, .3) 0 3px 5px;
  opacity: 0;
  transition: .2s opacity ease-in-out;
  z-index: 9999;
  >i {
    display: block;
    z-index: 9000;
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
    &:before {
      content: '';
      display: block;
      border: 10px solid transparent;
      border-top-color: rgba(0, 0, 0, .1);
      position: absolute;
      top: 1.5px;
      left: 1.5px;
      z-index: 8998;
    }
    &:after {
      content: '';
      display: block;
      border: 10px solid transparent;
      border-top-color: $color-purple;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 8999;
    }
  }
  p {
    margin: 0;
    text-align: left;
    text-align: center;
    font-size: 10pt;
    line-height: 1.4;
    font-weight: 400;
  }
  @include sm {
    width: auto;
    margin: 0;
    max-width: calc(300px - 10px);
    text-align: left;
    p {
      text-align: left;
    }
  }
}