.actions {
  margin: 2rem 0;
  &__list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style-type: none;
    justify-content: space-between;
  }
  &__item {
    margin: 0 1rem 1rem 0;
    line-height: 1;
  }
  &__link {
    display: flex;
    align-items: center;
    &:link,
    &:visited {
      color: $color-grey;
      text-decoration: none;
    }
    &:hover {
      color: $color-purple-light;
      & .actions__icon--rss {
        fill: $color-purple-light;
      }
    }
  }
  &__icon {
    width: 22px;
    height: 22px;
    &--rss {
      fill: $color-grey;
    }
  }
  &__text {
    display: none;
  }
  @include md {
    margin: 4rem 0;
    &__text {
      display: inline;
      margin-left: 0.5rem;
    }
    &__icon {
      width: 16px;
      height: 16px;
    }
  }
  @include lg {
    &__text {
      font-size: 1rem;
    }
  }
  @include xl {
    &__item {
      margin-right: 2rem;
    }
  }
  @include print {
    display: none;
  }
}
