.actions {
  margin: 4rem 0;
  &__list {
    display: flex;
    list-style-type: none;
  }
  &__item {
    margin: 0;
    padding: 0 1rem;
    line-height: 1;
    &:first-of-type {
      padding-left: 0;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    &:link,
    &:visited {
      color: $color-grey;
      text-decoration: none;
    }
    &:hover {
      color: $color-purple-light;
    }
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      border-right: 0;
    }
  }
  &__icon {
    width: 24px;
    height: 24px;
  }
  &__text {
    display: none;
  }
  @include md {
    &__item {
    }
    &__text {
      display: inline;
      margin-left: 0.5rem;
      font-size: 0.8rem;
    }
  }
  @include lg {
    &__text {
      font-size: 1rem;
    }
  }
  @include print {
    display: none;
  }
}
