.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  * {
    text-decoration: none;
  }
  &__item {
    margin-bottom: 20px;
    padding: 20px;
    border-top: 5px $color-purple-light solid;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    @include sm-only {
      &:nth-of-type(even) {
        background: $color-purple-light;
        & .grid__header,
        & .grid__desc {
          color: $color-light;
        }
      }
    }
  }
  &__label {
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: $color-grey;
    &--oss {
      color: $color-grey;
    }
    &--enterprise {
      color: $color-purple-light;
    }
  }
  &__header {
    color: $color-dark;
    padding: 0;
    margin: 0;
  }
  &__desc {
    font-size: 0.85rem;
    line-height: 1.5;
    margin-top: 1rem;
  }
  &__link {
    display: flex;
    justify-content: flex-end;
    margin-top: 2rem;
    svg {
      width: 28px;
      height: 28px;
      color: $color-purple-light;
    }
  }
  @include md {
    &__item {
      flex-basis: calc(50% - 10px);
      &:nth-child(4n+3),
      &:nth-child(4n+2) {
        background: $color-purple-light;
        & .grid__header,
        & .grid__desc {
          color: $color-light;
        }
        & .grid__label--enterprise {
          color: $color-dark;
        }
        & .grid__link {
          svg {
            color: $color-light;
          }
        }
      }
    }
  }
}
