.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3rem;
  * {
    text-decoration: none;
  }
  &__item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border-top: 8px $color-purple-light solid;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    // &:hover {
    //   background: $color-purple-light;
    // }
  }
  &__label {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: $color-grey;
    border: 1px solid $color-grey;
    border-radius: 3px;
    padding: 0.4rem 0.5rem 0.3rem 0.5rem;
    line-height: 1rem;
    &--hidden {
      opacity: 0;
    }
    &--oss {
      color: $color-grey;
      border: 1px solid $color-grey;
    }
    &--enterprise {
      color: $color-purple-light;
      border: 1px solid $color-purple-light;
    }
  }
  &__header {
    color: $color-dark;
    font-weight: 500;
    padding: 0;
    margin: 0;
  }
  &__desc {
    flex: 1;
    font-size: 0.85rem;
    line-height: 1.5;
    margin-top: 1rem;
  }
  &__link {
    width: 100%;
    margin-top: 2rem;
    svg {
      float: right;
      width: 28px;
      height: 28px;
      color: $color-purple-light;
    }
  }
  @include md {
    &__item {
      width: calc(50% - 10px);
    }
  }
}
