.grid-toc {
  display: flex;
  flex-direction: column;
  &__item {
    padding: 2rem;
    display: flex;
    flex-direction: column;
  }
  &__title {
    line-height: 1;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    color: $color-purple-light;
  }
  &__desc {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    color: $color-grey;
  }
  &__link {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    color: $color-purple-light;
  }
  &__link-all {
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    color: $color-grey;
    &__arrow {
      padding-left: 10px;
    }
  }
  @include md {
    flex-direction: row;

    &__item {
      width: 33.33%;
    }
  }
}