.grid-toc {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  &__item {
    margin-bottom: 2rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    line-height: 1.25;
    margin: 0;
    padding: 0;
    color: $color-purple-d3;
    a {
      text-decoration: none;
    }
  }
  &__desc {
    margin-top: 1rem;
    color: $color-grey;
  }
  &__list {
    margin: 1rem 0 0;
    padding: 0;
    list-style-type: none;
    &-item {
      margin-top: 0.5rem;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__link {
    display: inline-flex;
    color: $color-purple-d3;
    line-height: 1.25em;
    text-decoration: none;
    &--all {
      color: $color-grey;
      img {
        width: 13px;
        height: 17px;
        margin-left: 10px;
      }
    }
  }
  @include pre-md {
    flex-direction: row;
    justify-content: space-between;
    &__item {
      width: 48%;
      margin-bottom: 4rem;
      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }
    }
  }
  @include md {
    &__item {
      width: 30%;
    }
  }
}
