.code-toolbar {
  margin: 2rem 0 !important;
}

code {
  font-family: $font-family-1;
  background: rgba($color-grey-medium, 0.4);
  color: $color-dark;
  padding: 0 6px;
  border-radius: 3px;
  font-weight: 0.9rem;
  margin: 0;
}

table code {
  background: #FDBEDF;
  color: #FD357D;
}

pre {
  background: rgba($color-purple-light, 0.4);
  padding: 1rem;
  border-radius: 3px;
  code {
    background: transparent;
    font-size: 0.8rem;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  }
}

pre[class*="language-"] {
  background: rgb(21, 16, 48);
  line-height: 1;
}

/* Toolbar */

pre.code-toolbar {
  .toolbar {
    top: 0;
    right: 0;
    opacity: 0.8;
  }
  .toolbar,
  .toolbar-item {
    height: 100%;
  }
  .toolbar a {
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
    border-radius: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 8px 16px;
    transition: 0.3s background-position-y ease;
    background-image: url('https://www.materialui.co/materialIcons/content/content_copy_white_192x192.png');
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position-y: 14px, top;
    background-position: center;
    color: transparent;
    font-size: 11px;
  }
}

pre.code-toolbar:hover > .toolbar:hover a:hover {
  background-color: rgba(118, 95, 246, 1);
  background-position-y: 12px, top;
  color: #fff;
}

