.sidebar {
  padding: 1rem;
  &__header {
    &-dropdown {
      &-item {
        color: white;
      }
    }
  }
}

.navigation {
  &_list {

  }
  &__item {
    &:before {
      content: '>'
    }
    &--selected {
      color: $color-dark;
    }
  }
}