.sidebar {
  display: flex;
  flex-direction: column;
  background: $color-purple;
  &__header {
    height: 80px;
    box-shadow: 0 0px 40px rgba(0, 0, 0, 0.1);
    background: rgba(125, 88, 255, 0.1);
  }
  &__dropdown {
    position: relative;
    width: 100%;
    cursor: pointer;
    &__text {
      padding: 0;
      margin: 0;
      color: $color-light;
      &__title {
        opacity: 0.6;
      }
      &__version {
      }
    }
    &__toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 80px;
      padding: 0 2rem;
      font-weight: 500;
      user-select: none;
    }
    &__icon {
      width: 20px;
      height: 20px;
      color: $color-light;
    }
    &__list {
      position: absolute;
      top: 80px;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 0;
      list-style-type: none;
      background: $color-purple-light;
      opacity: 0;
      visibility: hidden;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;
    }
    &__item {
      color: $color-light;
      &:not(:last-of-type) {
        border-bottom: 1px $color-light solid;
      }
    }
    &__link {
      display: block;
      padding: 1rem 2rem;
      text-decoration: none;
      user-select: none;
      transition: 0.2s background $ease-in-out-cubic;
      &:link,
      &:visited {
        color: $color-light;
      }
      &:hover {
        background: $color-purple;
      }
    }
    &--active {
      background: $color-purple-light;
      & .sidebar__dropdown__list {
          height: auto;
          visibility: visible;
          opacity: 1;
          z-index: 1;
      }
      & .sidebar__dropdown__icon {
        transform: rotate(180deg);
      }
    }
  }
  &__nav {
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
    height: 100vh;
    padding: 2rem 0;
    overflow-y: scroll;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.6);
    a {
      color: rgba(255, 255, 255, 0.6);
    }
    &__list {
      display: none;
      list-style-type: none;
      margin: 0;
      padding: 0;
      &--active {
        display: block;
      }
    }
    &__icon {
      width: 14px;
      height: 14px;
      margin-top: 4px;
      color: rgba(255, 255, 255, 0.6);
    }
    &__link {
      margin-left: 5px;
      font-weight: 400;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);
    }
    &__item {
      position: relative;
      padding: 0 2rem;
      &__text {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }
      &--depth-0 {
        padding: 0 2rem * 1;
      }
      &--depth-1 {
        padding: 0 1rem * 3;
      }
      &--depth-2 {
        padding: 0 1rem * 4;
      }
      &--depth-3 {
        padding: 0 1rem * 5;
      }
      &--depth-4 {
        padding: 0 1rem * 6;
      }
      &--depth-5 {
        padding: 0 1rem * 7;
      }
      &--active {
        > .sidebar__nav__item__text .sidebar__nav__link {
          color: $color-purple-light;
        }
        > .sidebar__nav__item__text .sidebar__nav__icon {
          color: $color-purple-light;
          transform: rotate(90deg);
        }
      }
      &--active-on,
      &:hover {
        background: $color-purple-light;
        > .sidebar__nav__item__text .sidebar__nav__link {
          color: $color-light;
        }
        > .sidebar__nav__item__text .sidebar__nav__icon {
          color: $color-light;
        }
      }
    }
  }
  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 2rem;
    height: 80px;
    font-size: 0.6rem;
    //background: $color-purple;
    &-links {
      margin-bottom: 0.5rem;
      & a {
        margin-right: 1rem;
        color: $color-light;
        text-decoration: none;
      }
    }
    &-copyright {
      color: rgba(255, 255, 255, 0.5);
    }
  }
  @include md {
    &__nav {
      &__icon {
        margin-top: 5px;
      }
    }
  }
}

