.sidebar {
  display: relative;
  &__header {
    height: 70px;
  }
  &__dropdown {
    position: relative;
    width: 100%;
    background: #1f0036;
    cursor: pointer;
    &--active {
      background: $color-purple-light;
      & .sidebar__dropdown-list {
        width: 100%;
        height: auto;
        opacity: 1;
      }
      & .sidebar__dropdown-icon,
      & .sidebar__dropdown-toggle span {
        color: $color-light;
      }
    }
    &-toggle {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      padding: 0 2rem;
      font-weight: 600;
      user-select: none;
      & span {
        margin-left: 5px;
        color: $color-purple-light;
      }
    }
    &-icon {
      width: 20px;
      height: 20px;
      color: $color-purple-light;
      transform: rotate(90deg);
    }
    &-list {
      position: absolute;
      top: 70px;
      margin: 0;
      padding: 0;
      height: 0;
      list-style-type: none;
      background: $color-purple-light;
      opacity: 0;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      z-index: 200;
    }
    &-item {
      color: $color-light;
      &:not(:last-of-type) {
        border-bottom: 1px $color-light solid;
      }
    }
    &-link {
      display: block;
      padding: 1rem 2rem;
      color: $color-light;
      text-decoration: none;
      user-select: none;
      &:hover {
        background: $color-purple;
      }
    }
  }
  &__footer {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 2rem;
    height: 70px;
    font-size: 0.6rem;
    background: $color-purple;
    box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.2);
    &-links {
      margin-bottom: 0.5rem;
      & a {
        margin-right: 1rem;
        color: $color-light;
        text-decoration: none;
      }
    }
    &-copyright {
      color: rgba(255, 255, 255, 0.5);
    }
  }
}

.navigation {
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  height: calc(100vh - 140px);
  padding: 2rem 1rem 2rem 0;
  overflow-y: scroll;
  font-size: 0.9rem;
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    .navigation__subhead & {
      height: 0;
      opacity: 0;
      overflow-y: hidden;
    }
  }
  color: rgba(255, 255, 255, 0.6);
  &__subhead {
    background: $color-purple;
    &--active {
      > .navigation__link .navigation__icon {
        transform: rotate(90deg);
      }
      > .navigation__list {
        height: auto;
        opacity: 1;
      }
    }
  }
  &__item {
    background: $color-purple;
    font-weight: 400;
    position: relative;
    a {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
    }
    &--active {
      background: $color-purple-light;
    }
  }
  &__icon {
    position: absolute;
    width: 20px;
    height: 20px;
    padding: 2px 4px;
    top: 2px;
    left: -20px;
    color: rgba(255, 255, 255, 0.6);
  }
  &__link {
    position: relative;
    display: block;
    margin-left: 2.5rem;
    font-weight: 400;
    ol & {
      margin-left: 3.5rem;
    }
    ol ol & {
      font-size: 0.8rem;
      margin-left: 4.5rem;
    }
    ol ol ol & {
      margin-left: 5.5rem;
    }
  }
}
