apiVersion: v1
appVersion: "$({ .chartVersion })"
description: Installs Dispatch into a Kubernetes cluster
name: dispatch
version: "$({ .chartVersion })"
tillerVersion: ">=2.14.2"
home: https://github.com/mesosphere/dispatch
maintainers:
- email: chhsiao@d2iq.com
  name: chhsia0
- email: gpaul@d2iq.com
  name: gpaul
- email: jbarrick@d2iq.com
  name: jbarrick-mesosphere
- email: takirala@d2iq.com
  name: takirala
