<div class="bubbles">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1523.58 834.61">
    <defs>
      <style>
        .cls-1,
        .cls-2 {
          fill: #ffcd00;
        }
        .cls-1,
        .cls-2,
        .cls-3,
        .cls-4 {
          fill-rule: evenodd;
        }
        .cls-2,
        .cls-4 {
          opacity: 0.25;
          isolation: isolate;
        }
        .cls-3,
        .cls-4 {
          fill: #3d51ff;
        }
      </style>
    </defs>
    <g id="Group_1744" data-name="Group 1744">
      <path
        id="Path_5799"
        data-name="Path 5799"
        class="cls-2 icon3"
        d="M30.37 517.25a14.5 14.5 0 10-20.46-1.43 14.5 14.5 0 0020.46 1.43z"
        transform="translate(-6.35)"
      />
      <path
        id="Path_139"
        data-name="Path 139"
        class="cls-2 icon2"
        d="M1134.23 809.85a14.5 14.5 0 100 20.51 14.5 14.5 0 000-20.51z"
        transform="translate(-6.35)"
      />
      <path
        id="Path_140"
        data-name="Path 140"
        class="cls-2 icon1"
        d="M1397.23 93.85a14.5 14.5 0 100 20.51 14.5 14.5 0 000-20.51z"
        transform="translate(-6.35)"
      />
      <path
        id="Path_142"
        data-name="Path 142"
        class="cls-3 icon3"
        d="M1122.75 17a8.5 8.5 0 10-8.5-8.5 8.51 8.51 0 008.5 8.5z"
        transform="translate(-6.35)"
      />
      <path
        id="Path_5797"
        data-name="Path 5797"
        class="cls-3 icon1"
        d="M1507.75 789.69a22.19 22.19 0 10-22.19-22.19 22.19 22.19 0 0022.19 22.19z"
        transform="translate(-6.35)"
      />
      <path
        id="Path_5798"
        data-name="Path 5798"
        class="cls-4 icon1"
        d="M116.09 370.8a8.5 8.5 0 10-12-.84 8.5 8.5 0 0012 .84z"
        transform="translate(-6.35)"
      />
      <path
        id="Path_138"
        data-name="Path 138"
        class="cls-4 icon2"
        d="M1028 737.88a8.5 8.5 0 100 12 8.5 8.5 0 000-12z"
        transform="translate(-6.35)"
      />
      <path
        id="Path_141"
        data-name="Path 141"
        class="cls-4 icon3"
        d="M1492 67.88a8.5 8.5 0 100 12 8.5 8.5 0 000-12z"
        transform="translate(-6.35)"
      />
      <path
        id="Path_20"
        data-name="Path 20"
        class="cls-1 icon1"
        d="M112.25 409.5a25.5 25.5 0 10-25.5 25.5 25.5 25.5 0 0025.5-25.5z"
        transform="translate(-6.35)"
      />
      <path
        id="Path_23"
        data-name="Path 23"
        class="cls-3 icon2"
        d="M61.25 232a15 15 0 10-15 15 15 15 0 0015-15z"
        transform="translate(-6.35)"
      />
    </g>
  </svg>
  <script type="text/javascript" src="/js/spheregrid.js"></script>
</div>
