main(class='content')
  div(class='content__header')
    h1(class='content__header-title')!= title
    h4(class='content__header-description')!= description
    include ../components/content-actions.pug
  div(class='content__container')
    article(class='content__contents')
      != contents
      if overviewGrid
        include ../components/content-grid.pug
    include ../components/content-sections.pug
