- var page = hierarchy.findByPath('/' + path)
- var pageDescription = (page && page.excerpt) ? page.excerpt : description


- // Canonical URL
- var semanticVersion = /^[0-9]+\.[0-9]+/
- var currentDocs = hierarchy.children.filter(child => semanticVersion.test(child.id))[0]
- var paths = path.split('/')
- var canonicalHref = null

if currentDocs && paths[0] != currentDocs.id && semanticVersion.test(paths[0])
  - var p = path.split('/')
  - p[0] = currentDocs.id
  - var newUrl = '/' + p.join('/')
  script.
    console.log(!{JSON.stringify(newUrl)})
  if hierarchy.findByPath(newUrl)
    - canonicalHref = url + newUrl

meta(charset='UTF-8')
meta(name='viewport', content='width=device-width', initial-scale='1', user-scalable='no')
title!= title
meta(name='description', content=pageDescription)
link(rel='icon' href='/assets/favicon.ico')
link(rel='stylesheet', type='text/css', href='/css/styles.css')

if canonicalHref
  link(rel='canonical', href=canonicalHref)

link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i', rel='stylesheet')

<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-109852694-1")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-45222428-2');

script(src='https://unpkg.com/feather-icons/dist/feather.min.js')
if env != 'development' && env != 'pdf'
  <!-- Ethnio Activation Code -->
  script(type='text/javascript', language='javascript', src='//ethn.io/74286.js', async='true', charset='utf-8')