meta(charset='UTF-8')
meta(name='viewport', content='width=device-width', initial-scale='1')
title!= title
meta(name='description', content=description)
link(rel='stylesheet', type='text/css', href='/css/styles.css')
link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,500,700|Roboto:100,300,400,500,700', rel='stylesheet')
link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
