meta(charset='UTF-8')
meta(name='viewport', content='width=device-width', initial-scale='1', user-scalable='no')
title!= title
meta(name='description', content=description)
link(rel='icon' href='/assets/favicon.ico')
link(rel='stylesheet', type='text/css', href='/css/styles.css')
link(href='https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i', rel='stylesheet')
script(src='https://unpkg.com/feather-icons/dist/feather.min.js')
if env != 'development'
  <!-- Ethnio Activation Code -->
  script(type='text/javascript', language='javascript', src='//ethn.io/74286.js', async='true', charset='utf-8')