header(class='header')
  div(class='header__logo')
    img(src='/assets/header-logo-color-dark-mark.png', height='24')
    img(src='/assets/header-logo-color-dark-type.png', height='15')
  nav(class='main-menu')
    ul(class='main-menu__list')
      li(class='main-menu__item') DC/OS Docs
      li(class='main-menu__item') Service Docs
      li(class='main-menu__item') Support
  section(role='search') search
  //p!= JSON.stringify(collections)