header(class='header')
  div(class='header__main')
    div(class='header__logo')
      img(class='header__logo-icon', src='assets/header-logo-color-dark-mark.png', height='24')
      img(class='header__logo-text', src='assets/header-logo-color-dark-type.png', height='15')
    nav(class='header__menu')
      ul(class='header__menu-list')
        each val, index in hierarchy.children
          li(class='header__menu-item header__menu-item--active')
            a(href="")!= val.title
  section(class='header__search', role='search')
    form(class='header__search-form')
      label(class='header__search-label', for='search-input')
        svg(class='header__search-icon')
          use(xlink:href="assets/sprite.svg#search")
      input(id='search-input', class='header__search-input', type='text', placeholder='Search')