script(src='/assets/js/jquery-3.2.1.js')
script(src='/assets/js/clipboard.js')
script(src='/assets/js/prism.js')

if env == 'development'
  script(src='//localhost:35729/livereload.js', async)

script(src='/js/main.js')
