section.search
  #search-form.search__form
    input#search-input.search__form-input(placeholder='Search', value='')
    button.search__form-submit
      i.search__form-icon(data-feather='search')
  .search__filters
    #scope.search__filter
  .search__results
    ul#search-results.search__results-list
  #search-pagination
