section(class='search')
  form(id='search-form', class='search__form')
    input(id='search-input', class='search__form-input', placeholder='Search', value='')
    button(class='search__form-submit')
      i(class='search__form-icon', data-feather='search')
  div(class='search__filters')
    div(id='search-section', class='search__filters-version')
    div(id='search-version', class='search__filters-version')
  div(class='search__results')
    ul(id='search-results', class='search__results-list')
  div(id='search-pagination', class='search__pagination')