section(class='search')
  div(id='search-form', class='search__form')
    input(id='search-input', class='search__form-input', placeholder='Search', value='')
    button(class='search__form-submit')
      i(class='search__form-icon', data-feather='search')
  select(id="template" style="display:none;")
    option(id="templateOption")
  div(class='search__filters')
    div(id='search-section', class='search__filter')
    div(id='search-version', class='search__filter')
    div(id='search-type', class='search__filter')
  div(class='search__results')
    ul(id='search-results', class='search__results-list')
  div(id='search-pagination')