section(class='search')
  form(id='search-form', class='search__form')
    input(id='search-input', class='search__form-input', placeholder='Search', value='')
    button(class='search__form-submit')
      svg(class='search__form-icon')
        use(xlink:href="assets/sprite.svg#search")
  div(class='search__filters')
    select(class='search__filters-version')
      option DC/OS 1.7
      option DC/OS 1.8
      option DC/OS 1.9
    select(class='search__filters-other')
      option Other
      option DC/OS 1.8
      option DC/OS 1.9
  div(class='search__results')
   ul(id='search-results', class='search__results-list')