section(class='sidebar')
  header(class='sidebar__header')
    select(class='sidebar__dropdown')
      option(class='sidebar__dropdown-item') Mesosphere DC/OS 1.7
      option(class='sidebar__dropdown-item') Mesosphere DC/OS 1.8
      option(class='sidebar__dropdown-item') Mesosphere DC/OS 1.9
  nav(role='navigation', class='navigation')
    ol(class='navigation__list')
      li(class='navigation__item')
        a(href='/')
          svg(class='navigation__icon')
            use(xlink:href='assets/sprite.svg#chevron-right')
          | Release Notes
        ul(class='navigation__list')
          li(class='navigation__item navigation__item--active') dcos
          li(class='navigation__item') dcos auth
          li(class='navigation__item') dcos config
          li(class='navigation__item') dcos experimental
          li(class='navigation__item') dcos help
      li(class='navigation__item')
        a(href='/')
          svg(class='navigation__icon')
            use(xlink:href="assets/sprite.svg#chevron-right")
          | Overview
      li(class='navigation__item')
        a(href='/')
          svg(class='navigation__icon')
            use(xlink:href="assets/sprite.svg#chevron-right")
          | Installing & Upgrading
      li(class='navigation__item')
        a(href='/')
          svg(class='navigation__icon')
            use(xlink:href="assets/sprite.svg#chevron-right")
          | GUI
      li(class='navigation__item')
        a(href='/')
          svg(class='navigation__icon')
            use(xlink:href="assets/sprite.svg#chevron-right")
          | CLI
          //- li(class='navigation__item navigation__item--selected') Uninstalling the CLI
