1. Create a [Workspace](/dkp/kommander/1.3/workspaces)
1. [Attach a Cluster](/dkp/kommander/1.3/clusters) to the Workspace
1. Create a [Project](/dkp/kommander/1.3/projects) in the Workspace
1. Select the created Project
1. View the available Platform Services in the [Project Catalog](/dkp/kommander/1.3/projects/platform-services)
1. Select the version you’d like to deploy from the version drop-down, and then select Deploy.