Here we have `cassandra` installed in the Kommander Project `test-project` with namespace `test-project-zc6tc`.
```
$ kubectl kudo get instances -n test-project-zc6tc
List of current installed instances in namespace "test-project-zc6tc":
.
└── cassandra
```