<p class="message--warning"><strong>WARNING: Beta Software </strong>This software may contain bugs, incomplete features, incorrect documentation, or other discrepancies. Contact Mesosphere before deploying a beta candidate service. Product support is available to approved participants in the beta test program.
Contact <a href="mailto:support@mesosphere.io">support@mesosphere.io</a> for information about participation.</p>