## Zones

If the service is deployed with a Zone constraint it may not be removed after initial installation.

Additionally, if the service was deployed without a Zone constraint, it may not have one added after initial installation.
