<p class="message--note"><strong>NOTE: </strong>It is not currently possible to change disk types on an existing deployment, as data will not be migrated. For an existing deployment, data should be backed up, the cluster re-deployed with the new disk type, and data restored.</p>