- var containerClass = headings.length > 0 ? 'content__container content__container--with-sections' : 'content__container'

doctype html
html(lang='en')
  head
    include partials/head.pug
  body
    div(class='layout')
      include partials/sidebar.pug
      div(role='main', class='layout__content')
        include partials/header.pug
        main(class='content content__404')
          div(class=containerClass)
            div(class='content__header')
              div(class='content__header__row')
                h1(class='content__header-title')!= title
            article(class='content__article ')
              != contents
        include partials/search-results.pug
    include partials/scripts.pug
