doctype html
html(lang='en')
  head
    script(src='https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.0/dist/instantsearch.min.js')
    include partials/head.pug
  body
    .layout
      header.header(style='position: fixed;')
        a.header__drawer
          i.header__icon(data-feather='menu')
        a.header__logo(href='/')
          img.header__logo--mobile(src='/assets/D2iQ_Logotype_Color_Positive_Documentation.svg', alt='D2IQ')
          img.header__logo--desktop(src='/assets/D2iQ_Logotype_Color_Positive_Documentation.svg', alt='D2IQ')
        .header__main
          .header__dropdown
            img.header__dropdown-icon(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2iQ')
            strong D2IQ Documentation
            i(data-feather='chevron-down')
      div.layout__content(role='main')
        .jumbotron
          | We couldn't find the page you were looking for.
        include partials/search-results.pug
      footer.landing__footer
        .landing__footer__container
          a.landing__footer__logo__link(href='https://d2iq.com/')
            img.landing__footer__logo(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2iQ')
          .landing__footer__menu
            a(href='https://d2iq.com/terms/') Terms of Service
            a(href='https://d2iq.com/privacy/') Privacy Policy
          a.landing__footer__copyright(href='https://d2iq.com/')!= copyright
    include partials/scripts.pug
