- var containerClass = headings.length > 0 ? 'content__container content__container--with-sections' : 'content__container'
- var paths = path.split('/')

doctype html
html(lang='en')
  head
    include partials/head.pug
  body
    .layout
      header.header(style='position: fixed;')
        a.header__drawer
          i.header__icon(data-feather='menu')
        a.header__logo(href='/')
          img.header__logo--mobile(src='/assets/D2iQ_Logotype_Color_Positive_Documentation.svg', alt='D2IQ')
          img.header__logo--desktop(src='/assets/D2iQ_Logotype_Color_Positive_Documentation.svg', alt='D2IQ')
        .header__main
          .header__dropdown
            img.header__dropdown-icon(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2iQ')
            strong!= sectionTitle
            i(data-feather='chevron-down')
        include partials/header/mesosphere-dropdown.pug
        include partials/header/ksphere-dropdown.pug
        include partials/header/header-dropdown.pug
      .layout__content(role='main')
        main.content.content__404
          div
            .content__header
              .content__header__row
                h1.content__header-title
            article.content__article
              != contents
        include partials/search-results.pug
    include partials/scripts.pug
