- var semverService = /^(v|)[0-9](.*)/

mixin renderGridToc()
  .grid-toc
    each val, index in hierarchy.findByPath(`/mesosphere/dcos/cn/services`).children
      if val.menuWeight != -1
        if val.children
          each childVal, childIndex in val.children
            if semverService.test(childVal.id) && childVal.menuWeight != -1
              - val = childVal
              - break
        .grid-toc__item
          h2.grid-toc__title
            a(href=val.path)!= val.title
          if val.children
            ul.grid-toc__list
              for item in val.children.slice(0, 5)
                li.grid-toc__list-item
                  a.grid-toc__link(href=item.path)!= item.title
              if val.children.length > 5
                li.grid-toc__list-item
                  a.grid-toc__link.grid-toc__link--all(href=val.path) View All
                    img.grid-toc__link--all__arrow(src='/assets/right-arrow.svg')

doctype html
html(lang='en')
  head
    include partials/head.pug
  body.landing.landing--services
    .layout
      div.layout__content(role='main')
        include partials/header/header.pug
        .landing__hero
          h1.landing__title DC/OS 服务文档
        .landing__container
          +renderGridToc()
        footer.landing__footer
          .landing__footer__container
            a.landing__footer__logo__link(href='https://d2iq.com/')
              img.landing__footer__logo(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2iQ')
            .landing__footer__menu
              a(href='https://d2iq.com/terms/') Terms of Service
              a(href='https://d2iq.com/privacy/') Privacy Policy
            a.landing__footer__copyright(href='https://d2iq.com/')!= copyright
    script(src='https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js')
    script(src='https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js')
    include partials/scripts.pug
