doctype html
html(lang='en')
  head
    include partials/head.pug
  body

    header(class='header header--ddl')
      div(class='header__main')
        a(href='/', class='header__logo')
          img(class='header__logo-icon', src='/assets/header-logo-mesosphere.svg', alt='Mesosphere Logo' height='24')
        nav(class='header__menu')
          ul(class='header__menu-list')
            each val, index in hierarchy.children
              if(val.menuWeight !== -1)
                - var itemClass = {}
                - itemClass['header__menu-item'] = true
                - itemClass['header__menu-item--active'] = ('/' + path).includes(val.path)
                li(class=itemClass)
                  a(href=val.path)!= val.title

    div(class='landing__hero')
      input(class='landing__hero-input', placeholder='Search documentation')

    div(class='landing__container')
      div(class='grid-toc')
        div(class='grid-toc__item')
          h2(class='grid-toc__title') Release Notes
          p(class='grid-toc__desc') DC/OS includes many new capabilities for Operators, and expands...
          a(class='grid-toc__link') Release Notes 1.9.4
          a(class='grid-toc__link') Release Notes 1.9.3
          a(class='grid-toc__link') Release Notes 1.9.2
          a(class='grid-toc__link') Release Notes 1.9.1
          a(class='grid-toc__link-all') View All
            img(class='grid-toc__link-all__arrow', src='/assets/right-arrow.svg')
        div(class='grid-toc__item')
          h2(class='grid-toc__title') Overview
          p(class='grid-toc__desc') The overview topics help you get started and learn the DC/OS fundamentals...
          a(class='grid-toc__link') What is DC/OS?
          a(class='grid-toc__link') Architecture
          a(class='grid-toc__link') Features
          a(class='grid-toc__link') Concepts
          a(class='grid-toc__link-all') View All
            img(class='grid-toc__link-all__arrow', src='/assets/right-arrow.svg')
        div(class='grid-toc__item')
          h2(class='grid-toc__title') Installing and Upgrading
          p(class='grid-toc__desc') Enterprise DC/OS is designed to be configured, deployed, managed, scaled...
          a(class='grid-toc__link') DC/OS Custom Installation Options
          a(class='grid-toc__link') DC/OS Cloud Installation Options
          a(class='grid-toc__link') Local
          a(class='grid-toc__link') Upgrading
          a(class='grid-toc__link-all') View All
            img(class='grid-toc__link-all__arrow', src='/assets/right-arrow.svg')
        div(class='grid-toc__item')
          h2(class='grid-toc__title') CLI
          p(class='grid-toc__desc') You can use the DC/OS command-line interface (CLI) to manage cluster nodes, install...
          a(class='grid-toc__link') Instsalling the CLI
          a(class='grid-toc__link') Configuring the CLI
          a(class='grid-toc__link') Updating the CLI
          a(class='grid-toc__link') Connecting to Multiple Clusters
          a(class='grid-toc__link-all') View All
            img(class='grid-toc__link-all__arrow', src='/assets/right-arrow.svg')
        div(class='grid-toc__item')
          h2(class='grid-toc__title') Administering Clusters
          p(class='grid-toc__desc') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sem mi, malesuada ac...
          a(class='grid-toc__link') SSHing into Nodes
          a(class='grid-toc__link') Finding a Public Agent IP
          a(class='grid-toc__link') Component Management
          a(class='grid-toc__link') Backup and Restore
          a(class='grid-toc__link-all') View All
            img(class='grid-toc__link-all__arrow', src='/assets/right-arrow.svg')
        div(class='grid-toc__item')
          h2(class='grid-toc__title') Networking
          p(class='grid-toc__desc') DC/OS provides a number of tools out-of-the-box, ranging from basic network...
          a(class='grid-toc__link') Load Balancing and Virtual IPs (VIPs)
          a(class='grid-toc__link') Marathon-LB
          a(class='grid-toc__link') Edge-LB
          a(class='grid-toc__link') Mesos-DNS
          a(class='grid-toc__link-all') View All
            img(class='grid-toc__link-all__arrow', src='/assets/right-arrow.svg')
      div(class='landing__grid')
        a(href='', class='landing__grid-item')
          h3(class='landing__grid__header') Install DC/OS
          p(class='landing__grid__desc') As a datacenter operating system, DC/OS is itself a distributed system, a cluster manager, a container platform, and an operating system.
          div(class="landing__grid__link")
            i(data-feather='chevron-right')
        a(href='', class='landing__grid-item')
          h3(class='landing__grid__header') Need Support?
          p(class='landing__grid__desc') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sem mi, malesuada ac...
          div(class="landing__grid__link")
            i(data-feather='chevron-right')
      div(class='landing__external')
        div(class='landing__external-item')
          img(class='landing__external-icon', src='http://via.placeholder.com/30x30')
          h3(class='landing__external-title')
            a(class='landing__external-link') Get DC/OS Training
          p(class='landing__external-description') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis vitae erat..
        div(class='landing__external-item')
          img(class='landing__external-icon', src='http://via.placeholder.com/30x30')
          h3(class='landing__external-title')
            a(class='landing__external-link') Join the Community
          p(class='landing__external-description') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis vitae erat..
        div(class='landing__external-item')
          img(class='landing__external-icon', src='http://via.placeholder.com/30x30')
          h3(class='landing__external-title')
            a(class='landing__external-link') Find us on Slack
          p(class='landing__external-description') Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent convallis vitae erat..
      
    footer(class='landing__footer')
      div(class='landing__footer__container')
        img(class='landing__footer__logo', src='/assets/footer-logo-logomark.svg')
        div(class='landing__footer__menu')
          a(href='/') Terms of Service
          a(href='/') Privacy Policy
        div(class='landing__footer__copyright') &copy; 2017 Mesosphere, Inc. All Rights Reserved.
    include partials/scripts.pug
