doctype html
html(lang='en')
  head
    include partials/head.pug
  body
    div(class='layout')
      div(class='layout__left')
        include partials/sidebar.pug
      div(class='layout__right')
        include partials/header.pug
          div(class='content')
            !=contents
        include partials/footer.pug
    include partials/scripts.pug
