- var isChinese = path.split('/')[0] == 'cn'

doctype html
html(lang='en')
  head
    include partials/head.pug
  body
    div(class='layout')
      if isChinese
        include partials/sidebar/cn-sidebar.pug
      else
        include partials/sidebar/en-sidebar.pug
      div(role='main', class='layout__content')
        if isChinese
          include partials/header/cn-header.pug
        else
          include partials/header/en-header.pug
        if pdfToc
          include partials/print-toc.pug
        else
          include partials/content.pug
    include partials/scripts.pug
