doctype html
html(lang='en')
  head
    include partials/head.pug
  body
    div(class='layout')
      include partials/header/header.pug
      include partials/sidebar.pug
      div(role='main', class='layout__content')
        include partials/content.pug
    include partials/scripts.pug
