- var paths = path.split('/')
- var sectionTitle = 'D2IQ Documentation'
doctype html
html(lang='en')
  head
    script(src='https://cdn.jsdelivr.net/npm/instantsearch.js@2.2.0/dist/instantsearch.min.js')
    include partials/head.pug
  body
    .layout
      header.header(style="position: fixed;")
        a.header__drawer
          i.header__icon(data-feather='menu')
        a.header__logo(href='/')
          img(src='/assets/D2iQ_Logotype_Color_Positive_Documentation.svg', alt='D2IQ').header__logo--mobile
          img(src='/assets/D2iQ_Logotype_Color_Positive_Documentation.svg', alt='D2IQ').header__logo--desktop
        .header__main
          .header__dropdown
            img.header__dropdown-icon(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2iQ')
            strong!= sectionTitle
            i(data-feather='chevron-down')
      div.layout__content(role='main')
        include partials/search-results.pug
    include partials/scripts.pug
