# Common values:

packageName: ${ANNOTATED_PACKAGE_NAME}
serviceName: ${ANNOTATED_PACKAGE_NAME}
techName:  ${ANNOTATED_TECH_NAME}
techShortName: ${ANNOTATED_TECH_NAME}

# Values specific to certain templates:
