$sections-size: 20%;

.content {
  display: flex;
  margin-top: 80px;
  padding: 2rem;
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  &__header {
    z-index: 10;
    &-title {
      padding: 0;
      margin: 0;
    }
    &-description {
      color: $color-grey;
      font-weight: 400;
    }
  }
  &__article {
    > .tag:first-of-type {
      margin-top: 0;
    }
    > :first-child:not(.tag) {
      margin-top: 0;
      padding-top: 0;
    }
    ul li,
    ol li {
      margin-left: 25px;
    }
    .icon {
      width: 16px;
      height: 16px;
    }
  }
  &__anchor {
    display: none;
  }
  &__sections {
    display: none;
  }
  @include md {
    padding: 4rem;
    &__container {
      width: 80%;
    }
    &__article {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        &:hover {
          & .content__anchor {
            visibility: visible;
            &:hover .feather {
              fill: $color-purple-light;
            }
          }
        }
      }
    }
    &__anchor {
      display: inline-block;
      width: 30px;
      margin-left: -30px;
      padding-right: 10px;
      visibility: hidden;
      .feather {
        width: 20px;
        height: 20px;
      }
    }
  }
  @include lg {
    &__article {
      > h1:before,
      > h2:before,
      > h3:before,
      > h4:before,
      > h5:before,
      > h6:before {
        content: '';
        display: block;
        position: relative;
        width: 0;
        height: 120px;
        margin-top: -120px;
        visibility: hidden;
      }
    }
    &__sections {
      position: relative;
      display: block;
      width: 20%;
      margin-left: 2rem;
      &-list-container {
        position: sticky;
        top: calc(80px + 80px);
        width: 100%;
      }
      &-list {
        width: 100%;
        margin: 0;
        margin-top: 2rem;
        &:nth-of-type(1) {
          margin-top: 0;
        }
        list-style-type: none;
      }
      &-item {
        padding: 0;
        &--h3 {
          padding-left: 0.5rem;
          margin: 0.25rem 0;
        }
        & a {
          text-decoration: none;
          color: $color-dark;
        }
        & .active {
          color: $color-purple-light;
        }
      }
    }
  }
  @include print {
    margin: 0;
    padding: 0;
    &__container {
      width: 100%;
      margin-top: 3rem;
    }
    &__article {
      margin-top: 3rem;
    }
    &__sections {
      display: none;
    }
  }
}