.content {
  margin: 80px auto 0;
  padding: 2rem;
  & h4 {
    font-weight: 400;
  }
  &__sections {
    display: none;
  }
  @include md {
    padding: 4rem;
  }
  @include lg {
    display: flex;
    &__container {
      flex-basis: 80%;
    }
    & h1,
    & h2,
    & h5 {
      margin-top: 0;
    }
    &__sections {
      display: block;
      flex-basis: 20%;
      margin-left: 2rem;
      &-sticky {
        &--fixed {
          position: fixed;
        }
      }
      &-list {
        list-style-type: none;
      }
      &-item {
        padding: 0;
      }
    }
  }
}
