$sections-size: 15rem;

.content {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  padding: 2rem;
  &__header {
    &-title {
      padding: 0;
      margin: 0;
    }
    &-description {
      color: $color-grey;
      font-weight: 400;
    }
  }
  &__container {
    > :nth-child(2) {
      margin-top: 0;
      padding-top: 0;
    }
  }
  &__sections {
    width: $sections-size;
    display: none;
    position: fixed;
    right: 0;
    padding: 0 2rem;
    &-item {
      a {
        text-decoration: none;
        color: $color-dark;
      }
    }
  }
  &__actions {
    margin: 4rem 0;
    &__list {
      display: flex;
      list-style-type: none;
    }
    &__item {
      margin: 0;
      padding: 0 1rem;
      line-height: 1;
      &:first-of-type {
        padding-left: 0;
      }
    }
    &__link {
      display: block;
      &:first-of-type {
        margin-left: 0;
      }
      &:last-of-type {
        border-right: 0;
      }
    }
    &__icon {
      width: 24px;
      height: 24px;
      color: $color-grey;
      &:hover {
        color: $color-purple-light;
      }
    }
  }
  @include md {
    padding: 4rem;
    &__actions {
      &__item {
        border-right: 1px $color-grey solid;
        &:nth-of-type(3n) {
          margin-right: 50px;
          border-right: 0;
        }
      }
    }
  }
  @include lg {
    padding-right: $sections-size;
    &__header,
    &__container {
      flex-basis: 80%;
    }
    &__sections {
      display: block;
      &-sticky {
        position: fixed;
      }
      &-list {
        list-style-type: none;
      }
      &-item {
        padding: 0;
        & .active {
          font-weight: 600;
        }
      }
    }
    &__anchor:before {
      content: '';
      display: block;
      position: relative;
      width: 0;
      height: 90px;
      margin-top: -80px;
      visibility: hidden;
    }
  }
}
