$sections-size: 20%;

.content {
  display: flex;
  margin-top: 80px;
  padding: 2rem;
  &__container {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  &__header {
    z-index: 10;
    &-title {
      padding: 0;
      margin: 0;
      font-size: 2.5rem;
      font-weight: 700;
    }
    &-description {
      color: $color-grey;
      font-weight: 400;
    }
  }
  &__article {
    > .tag:first-of-type {
      margin-top: 0;
    }
    > :first-child:not(.tag) {
      margin-top: 0;
      padding-top: 0;
    }
    ul li,
    ol li {
      margin-left: 25px;
    }
    .icon {
      width: 16px;
      height: 16px;
    }
  }
  &__anchor {
    display: none;
  }
  &__sections {
    display: none;
  }
  @include md {
    &__container {
      width: 100%;
    }
    &__article {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        padding-top: 100px;
        margin-top: -100px;
        &:hover {
          & .content__anchor {
            visibility: visible;
            &:hover .feather {
              fill: $color-purple-light;
            }
          }
        }
      }
    }
    &__anchor {
      display: inline-block;
      width: 20px;
      margin-left: -20px;
      padding-right: 0px;
      visibility: hidden;
      .feather {
        width: 16px;
        height: auto;
      }
    }
  }
  @include lg {
    padding: 4rem;
    &__container {
      &--with-sections {
        width: 80%;
      }
    }
    &__article {
      > h1:before,
      > h2:before,
      > h3:before,
      > h4:before,
      > h5:before,
      > h6:before {
        content: '';
        display: block;
        position: relative;
        width: 0;
        height: 120px;
        margin-top: -120px;
        visibility: hidden;
      }
    }
    &__anchor {
      width: 30px;
      margin-left: -30px;
      padding-right: 10px;
      .feather {
        width: 20px;
        height: auto;
      }
    }
    &__sections {
      position: relative;
      display: block;
      width: 20%;
      margin-left: 2rem;
      + .content__container {
        width: 80%;
      }
      &-list-container {
        position: sticky;
        top: 140px;
        width: 100%;
      }
      &-list {
        width: 100%;
        margin: 0;
        margin-top: 2rem;
        &:nth-of-type(1) {
          margin-top: 0;
        }
        list-style-type: none;
      }
      &-item {
        padding: 0;
        font-size: 0.9rem;
        line-height: 1.4em;
        &:not(:last-of-type) {
          margin-bottom: 0.5rem;
        }
        &--h2 {
          padding-left: 0.5rem;
        }
        & a {
          text-decoration: none;
          color: $color-dark;
        }
        & .active {
          color: $color-purple-light;
        }
      }
    }
  }
  @include print {
    margin: 0;
    padding: 0;
    &__container {
      width: 100%;
      margin-top: 3rem;
    }
    &__article {
      margin-top: 3rem;
    }
    &__sections {
      display: none;
    }
  }
}
