html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug * {
  border: 1px red dotted;
}

ul {
  padding: 0;
  margin: 0;
}
