body {
  margin: 0;
  padding: 0;
  // if we filter on the landingpage, the content might shrink so much that the scrollbar would disappear
  // that would cause a "hop", as the site then is rendered a little wider. we don't want that hop and therefore enforce an "empty" scroll bar at all times.
  overflow-y: scroll;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug * {
  border: 1px red dotted;
}

svg {
  flex-shrink: 0;
}
