.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 2rem;
  background: $color-light;
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.1);
  z-index: 10;
  &__main {
    display: flex;
    align-items: center;
  }
  &__logo {
    display: flex;
    align-items: flex-start;
    &-icon,
    &-text {
      margin-right: 10px;
    }
    &-text {
      display: none;
    }
  }
  &__menu {
    display: none;
    opacity: 1;
    transition: opacity 0.3s $ease-in-out-cubic 0.2s;
    &--hide {
      opacity: 0;
      transition: opacity 0.2s $ease-in-out-cubic;
    }
    &-list {
      display: flex;
      padding: 0;
      list-style-type: none;
    }
    &-item {
      margin-left: 20px;
      a {
        font-weight: 600;
        color: $color-grey;
        text-decoration: none;
      }
      &--active {
        a {
          color: $color-dark;
        }
      }
    }
  }
  &__search {
    display: block;
    &-form {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &-input {
      width: 0;
      padding: 0;
      border: 0;
      border-radius: 5px;
      outline: 0;
      transition: all 0.4s $ease-in-out-cubic;
      &:focus {
        width: 200px;
        margin-left: 0.5rem;
        padding: 0.5rem;
        form & {
          background: $color-purple-light;
          color: $color-light;
        }
      }
    }
    &-submit {
      margin: 0;
      padding: 0;
      border: 0;
      outline: 0;
      background: transparent;
    }
    &-icon {
      display: block;
      width: 20px;
      height: 20px;
      color: $color-purple-light;
    }
  }
  @include md {
    &__search {
      &-input {
        width: 75px;
        padding: 0.5rem;
        border: 0;
        border-radius: 5px;
        outline: 0;
        transition: width 0.2s $ease-in-out-cubic, background 0.1s $ease-in-out-cubic, color 0.1s $ease-in-out-cubic;
        margin-left: 10px;
        &:focus {
          transition: width 0.2s $ease-in-out-cubic .3s;
          width: 200px;
          form & {
            background: $color-purple-light;
            color: $color-light;
          }
        }
      }
    }
    &__menu {
      display: block;
    }
  }
  @include lg {
    &__logo {
      &-type {
        display: inline;
      }
    }
    &__menu {
      &-item {
        margin-left: 50px;
      }
    }
  }
  @include lg {
    &__logo {
      &-text {
        display: inline-block;
      }
    }
    &__menu {
      &-list {
        padding-left: 40px;
      }
      &-item {
        margin-left: 30px;
      }
    }
  }
}
