.header-dropdown {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color-light, 0.95);
    opacity: 0;
    z-index: 15;
    &--show {
        display: block;
        opacity: 1;
    }
    &__list {
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        // accommodate extra space for banner message
        padding: 130px 0 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__top-item {
        margin-bottom: 2rem;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        width: 50%;
        display: flex;
        justify-content: center;
        color: $color-light-grey-d3;
        border-bottom: solid 1px $color-light-grey-d3;
        padding: 10px;
    }
    &__item {
        margin-bottom: 2rem;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        display: flex;
        justify-content: center;
    }
    a {
        color: $color-dark;
        text-decoration: none;
    }
    @include md {
        display: none;
    }
}