.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 2rem;
  background: $color-light;
  box-shadow: 0 0px 40px rgba(0, 0, 0, 0.1);
  &__logo {
    display: flex;
    & * {
      margin-right: 10px;
      align-self: flex-start;
    }
  }
  
}

.main-menu {
  &__list {
    display: flex;
    list-style-type: none;
  }
  &__item {

  }
}