.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__sidebar {
    display: none;
    background: $color-purple;
    color: $color-light;
  }
  &__content {
  }
  @include md {
    flex-direction: row;
    &__sidebar {
      width: 300px;
      display: flex;
      flex-direction: column;
    }
    &__content {
      width: 100%;
    }
  }
}