.layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  &__sidebar {
    display: none;
    width: 300px;
    background: $color-purple;
    color: $color-light;
    transform: translate(0, 0);
    transition: all 2s $ease-in-out-cubic;
    &--mobile {
      transform: translate(100, 0);
      display: block;
    }
  }
  &__content {
    width: 100%;
  }
  @include md {
    flex-direction: row;
    &__sidebar {
      position: fixed;
      display: flex;
      flex-direction: column;
      width: 300px;
      height: 100%;
      + .layout__content {
        width: calc(100% - 300px);
        margin-left: 300px;
        .header {
          width: calc(100% - 300px);
        }
      }
    }
  }
  @include lg {
    &__sidebar {
      width: 320px;
      + .layout__content {
        width: calc(100% - 320px);
        margin-left: 320px;
        .header {
          width: calc(100% - 320px);
        }
      }
    }
  }
}