$sidebarWidth: 280px;
.layout {
    &__sidebar {
        display: none;
    }
    &__drawer {
        position: fixed;
        top: 0;
        left: -300px;
        display: block;
        width: 300px;
        transform: translateX(-300px);
        transition: all 0.2s $ease-in-out-cubic;
        &--open {
            height: 100%;
            z-index: 30;
            transform: translateX(100%);
            +.layout__content {
                transform: translateX(300px);
            }
        }
    }
    &__content {
        padding-top: 70px;
        transition: all 0.2s $ease-in-out-cubic;
    }
    @include md {
        &__sidebar {
            position: fixed;
            // align top spacing to account for space from the banner and nav
            top: 142px;
            left: 0;
            width: $sidebarWidth;
            height: 100%;
            transform: none;
            transition: none;
            +.layout__content {
                width: calc(100% - #{$sidebarWidth});
                margin-left: $sidebarWidth;
                transform: none;
                transition: none;
                .header {
                    width: calc(100% - #{$sidebarWidth});
                }
            }
        }
    }
    @include lg {
        &__sidebar {
            // align top spacing to account for space from the banner and nav with larger screen sizes
            top: 122px;
            width: $sidebarWidth + 25px;
            +.layout__content {
                width: calc(100% - #{$sidebarWidth} - 25px);
                margin-left: $sidebarWidth + 25px;
                .header {
                    width: calc(100% - #{$sidebarWidth} - 25px);
                }
            }
        }
    }
    @include xl {
        &__sidebar {
            width: $sidebarWidth + 75px;
            +.layout__content {
                width: calc(100% - #{$sidebarWidth} - 75px);
                margin-left: $sidebarWidth + 75px;
                .header {
                    width: calc(100% - #{$sidebarWidth} - 75px);
                }
            }
        }
    }
    @include print {
        &__sidebar {
            display: none;
        }
        &__content {
            width: 100% !important;
            margin: 0 !important;
            padding: 0;
        }
    }
}

.draft__banner {
  position: fixed;
  top: 0;
  left: 0;
  background: red;
  padding: .5em;
  z-index: 50;
}
