table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    table-layout:fixed;
}

table,
th,
td {
    padding: 0.5rem;
    border: 1px $color-grey-light solid;
    color: $color-dark;
    word-wrap: break-word;
}

th {
    background: $color-grey-light;
    font-weight: 400;
}

table caption {
    font-weight: 700;
    font-size: 20px;
    padding: 12px;
}
