table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

table,
th,
td {
  padding: 0.5rem;
  border: 1px $color-grey-light solid;
  color: $color-dark;
}

th {
  background: $color-grey-light;
  font-weight: 400;
}