/* Basic Typography */

html {
  font-size: 12px;
  @include md {
    font-size: 14px;
  }
  @include lg {
    font-size: 16px;
  }
  @include xl {
    font-size: 18px;
  }
}

body {
  color: $color-dark;
}

a:link,
a:visited {
  color: $color-purple-light;
}

label {
  font-size: 0.9rem;
}

/* Font Modifers */

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.no-p-m {
  padding: 0;
  margin: 0;
}