/* Basic Typography */

html {
  font-size: 14px;
  @include lg {
    font-size: 16px;
  }
}

body {
  color: $color-dark;
  font-family: $font-family-sans-source;
}

a {
  color: $color-purple-d3;
}

label {
  font-size: 0.9rem;
}

/* Font Modifers */

.fw-100 {
  font-weight: 100;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.no-p-m {
  padding: 0;
  margin: 0;
}

p,
li {
  color: $color-dark-grey-d2;
}