# Install Terraform

1. Visit the [Terraform download page](https://www.terraform.io/downloads.html) for bundled installations and support for Linux, macOS and Windows.

    If you're on a Mac environment with [Homebrew](https://brew.sh/) installed, simply run the following command:

    ```bash
    brew install terraform
    ```

    Windows users that have [Chocolatey](https://chocolatey.org/docs/installation) installed, run:

    ```bash
    choco install terraform -y
    ```