## Supported DC/OS Versions

Currently, the Universal Installer defaults to `1.11.4` when using `v0.1.0` modules and `1.12.3` for `v0.2.0` modules. The following versions of DC/OS are currently supported. It is always recommended to specify a version.

```json
dcos_version: "1.12.3"
```

<table style="text-align: center" >
  <tr>
    <th style="font-weight: bold"> DC/OS Release </th><th>1.13</th><th>1.12</th><th>1.11</th><th>1.10</th>
  </tr>

  <tr><td>Latest</td><td> "1.13.0" </td><td> "1.12.3" </td><td> “1.11.10” </td><td> “1.10.11” </td></tr>
  <tr><td> - </td><td> - </td><td> "1.12.2" </td><td> “1.11.9” </td><td> “1.10.10” </td></tr>
  <tr><td> - </td><td> - </td><td> "1.12.1" </td><td> “1.11.8” </td><td> “1.10.9” </td></tr>
  <tr><td> - </td><td> - </td><td> "1.12.0" </td><td> “1.11.7” </td><td> “1.10.8” </td></tr>
  <tr><td> - </td><td> - </td><td> - </td><td> “1.11.6” </td><td> “1.10.7” </td></tr>
  <tr><td> - </td><td> - </td><td> - </td><td> “1.11.5” </td><td> “1.10.6” </td></tr>
  <tr><td> - </td><td> - </td><td> - </td><td> “1.11.4” </td><td> “1.10.5” </td></tr>
  <tr><td> - </td><td> - </td><td> - </td><td> “1.11.3” </td><td> “1.10.4” </td></tr>
  <tr><td> - </td><td> - </td><td> - </td><td> “1.11.2” </td><td> “1.10.3” </td></tr>
  <tr><td> - </td><td> - </td><td> - </td><td> “1.11.1” </td><td> “1.10.2” </td></tr>
  <tr><td> - </td><td> - </td><td> - </td><td> “1.11.0” </td><td> “1.10.1” </td></tr>
  <tr><td> - </td><td> - </td><td> - </td><td> - </td><td> “1.10.0” </td></tr>
</table>
