# Logging in to DC/OS

1. To login and start exploring your cluster, navigate to the `cluster-address` listed in the output of the CLI. From here you can choose your provider to create the superuser account [oss type="inline" size="small" /], or login with your specified Enterprise credentials [enterprise type="inline" size="small" /].

<p align=center>
<img src="./images/install/dcos-login.png">
</p>

<p align=center>
<img src="./images/install/dcos-ui.png">
</p>