## Ensure your cloud provider credentials

There are many ways of passing in your credentials in order for Terraform to authenticate with your cloud provider. Most likely, you already have your cloud provider credentials loaded through the AWS CLI. Terraform will automatically detect those credentials during initialization for you. See [configuring the AWS CLI](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html) for more information on setting up credentials and user profile.

Alternatively, you can pass in your `access_key` and `secret_key` through the configuration file which you will create. The properties listed here are the three things that Terraform needs on your behalf. See the [provider configuration reference](https://www.terraform.io/docs/configuration/providers.html) for more information on how this works under the hood. Also, please keep in mind storing your credentials outside of your version control for security.

```bash
provider "aws" {
    access_key = "foo"
    secret_key = "bar"
    region     = "us-east-1"
}
```