## Get Application Default Credentials for authentication
 You will need the [Application Default Credentials](https://cloud.google.com/sdk/gcloud/reference/auth/application-default/login) for Terraform to authenticate against GCP. To understand more about how Terraform authenticates with Google, see the [Terraform Google provider reference](https://www.terraform.io/docs/providers/google/provider_reference.html).

To receive Application Default Credentials:
1. Run the following command:

  ```bash
  $ gcloud auth application-default login
  ```

2. Verify that you have Application Default Credentials by running the following command:

  ```bash
  $ gcloud auth application-default print-access-token
  EXMAPLE.EXAMPLE-1llO--ZEvh6gQ-qhpL0I3gHcCeDKG_EXAMPLE7WtAepmpp47c0RCv9e0Oq6QnpQ79RZlHKzOw69XMxI87M2Q
  ```

## Set the GCP default region and project
The GCP provider requires you to export the Region (`desired-gcp-region`) and Project (`desired-gcp-project`) identifiers into environment variables even if those values are set in the `gcloud-cli`. You can set them easily in your terminal.

```bash
export GOOGLE_REGION="us-west1"
export GOOGLE_PROJECT="production-123"
```

Alternatively, they can be inserted into the configuration file you will create. Please keep in mind storing your credentials outside of your version control for security.

```hcl
provider "google" {
  version     = "~> 1.18.0"
  credentials = "${file("account.json")}"
  project     = "my-project-id"
  region      = "us-central1"
  zone        = "us-central1-c"
}
```