<p class="message--important"><strong>IMPORTANT:</strong> The Universal Installer has now been upgraded to `0.2`. If you already have a terraform cluster running please see the <a href="#universal-installer-02-update-for-aws">update information</a> at the bottom of this page.</p>

This guide is meant to take an operator through all steps necessary for a successful installation of DC/OS using Terraform. If you are already familiar with the prerequisites, you can jump to [creating a DC/OS Cluster](#creating-a-dcos-cluster).

## Prerequisites

- Linux, macOS, or Windows
- command-line shell terminal such as Bash or PowerShell
- verified Amazon Web Services (AWS) account and [AWS IAM](https://console.aws.amazon.com/iam/home) user profile with permissions