# Prerequisites for installation 

## On Konvoy

If you are installing Dispatch on Konvoy, refer to the [supported `AddOn`s version](https://docs.d2iq.com/dkp/konvoy/latest/release-notes/kubernetes-base-addon/) that get installed with Konvoy.
