# Prerequisites for installation on Konvoy

If you are installing Dispatch on Konvoy, refer to [Supported Operating Systems](https://docs.d2iq.com/dkp/konvoy/latest/install/supported-operating-systems/) on Konvoy.
