# 删除群集

如果想要销毁您的群集，则使用以下命令并等待其完成。

```bash
terraform destroy
```

<p class="message--important"><strong>重要信息：</strong>运行此命令将导致整个群集及其所有关联的资源被销毁。只有当您绝对确定不再需要访问您的群集时，才运行此命令。</p>

您需要输入 `yes` 进行验证。

<p align=center>
<img src="./images/destroy/terraform-destory.png" />
</p>
