# 为群集设置 SSH 凭据

TerraForm 需要发送 SSH 密钥才能安全地连接到其创建的节点。如果您已经有了一个密钥对，并已添加到您的 SSH 代理，则可以跳过此部分。

1. 不确定是否有您想要使用的密钥对？ 列出 SSH 目录的内容。

    ```bash
    ls ~/.ssh
    ```

1. 如果没有您喜欢的内容，请按照提示启动 SSH-Keygen 程序创建新密钥对。

    ```bash
    ssh-keygen -t rsa
    ```

1. 如果尚未运行代理并加载密钥，请启动代理将密钥添加到 SSH 代理：

    ```bash
    eval "$(ssh-agent -s)"
    ```

    ```bash
    ssh-add ~/.ssh/<your-key-name>
    ```