# 登录 DC/OS

1. 要登录并开始浏览您的群集，请导航到 CLI 的输出中列出的 `cluster-address`。您可以在此处选择您的提供程序，创建超级用户帐户 [oss type="inline" size="small" /]，或使用指定的 Enterprise 凭据登录 [enterprise type="inline" size="small" /].

<p align=center>
<img src="./images/install/dcos-login.png">
</p>

<p align=center>
<img src="./images/install/dcos-ui.png">
</p>