## 确保您的云提供程序凭据

有多种方式传递您的凭据，以便 Terraform 向您的云提供程序进行身份验证。您很可能已经通过 AWS CLI 加载了云提供程序凭据。Terraform 将在初始化期间为您自动检测这些凭据。参阅 [配置 AWS CLI](https://docs.aws.amazon.com/cli/latest/userguide/cli-chap-configure.html)，了解有关设置凭据和用户配置文件的更多信息。

或者，您可以通过您将创建的配置文件在 `access_key` 和 `secret_key` 中传递。此处列出的属性是 Terraform 代表您需要的三件事。请参阅 [提供程序配置参考](https://www.terraform.io/docs/configuration/providers.html)，以了解有关这如何在后台运作的更多信息。另外，请记住将凭据存储在版本控制之外，以确保安全。

```hcl
provider "aws" {
    access_key = "foo"
    secret_key = "bar"
    region     = "us-east-1"
}
```
