<p class="message--important"><strong></strong>重要信息：Universal 安装工具现已升级到 `0.2`。如果已经运行了 terraform 群集，请参阅本页底部的 <a href="#universal-installer-02-update-for-aws">更新信息</a>。</p>

本指南旨在指导操作员完成使用 Terraform 成功安装 DC/OS 所需的所有步骤。如果您已熟悉先决条件，则可跳转到 [创建 DC/OS 群集](#creating-a-dcos-cluster)。

## 前提条件

- Linux、macOS 或 Windows
- 命令行 shell 终端，例如 Bash 或 PowerShell
- 已验证的 Amazon Web Services (AWS) 帐户和具有权限的 [AWS IAM](https://console.aws.amazon.com/iam/home) 用户配置文件