# 确保您的云提供程序凭据

有多种方式传递您的凭据，以便 Terraform 向您的云提供程序进行身份验证。您很可能已经通过 Azure CLI 加载了云提供程序凭据。Terraform 将在初始化期间为您自动检测这些凭据。请参阅 [安装 Azure CLI](https://docs.microsoft.com/en-us/cli/azure/install-azure-cli?view=azure-cli-latest)，了解更多信息。请参阅 [Terraform Azure 提供程序参考](https://www.terraform.io/docs/providers/azurerm/auth/azure_cli.html)，以了解有关这如何在后台运作的更多信息。

或者，可以通过您的终端进行设置。您可以使用以下命令设置默认帐户：

```bash
export ARM_SUBSCRIPTION_ID="desired-azure-id"
```

确保设置完毕：

```bash
echo $ARM_SUBSCRIPTION_ID
```

或者，您可以通过要创建的配置文件将 Azure ID 作为 `subscription_id` 传递。请记住将凭据存储在版本控制之外，以确保安全。

```hcl
provider "azurerm" {
  subscription_id = "00000000-0000-0000-0000-000000000000"
}
```
