## 获取用于认证的应用程序默认凭据

 您将需要 [应用程序默认凭据](https://cloud.google.com/sdk/gcloud/reference/auth/application-default/login) 以便 Terraform 对 GCP 进行认证。如需了解有关 Terraform 如何使用 Google 进行认证的更多信息，请参阅 [Terraform Google 提供程序参考](https://www.terraform.io/docs/providers/google/provider_reference.html)。

要接收应用程序默认凭据：
1. 运行以下命令：

  ```bash
  $ gcloud auth application-default login
  ```

2. 通过运行以下命令验证您是否有应用程序默认凭据：

  ```bash
  $ gcloud auth application-default print-access-token
  EXMAPLE.EXAMPLE-1llO--ZEvh6gQ-qhpL0I3gHcCeDKG_EXAMPLE7WtAepmpp47c0RCv9e0Oq6QnpQ79RZlHKzOw69XMxI87M2Q
  ```

## 设置 GCP 默认区域和项目
GCP 提供程序要求您将分域 (`desired-gcp-region`) 和项目 (`desired-gcp-project`) 标识符导出到环境变量中，即使这些值在 `gcloud-cli` 中进行了设置。您可以在终端上对其进行轻松设置。

```bash
export GOOGLE_REGION="us-west1"
export GOOGLE_PROJECT="my-project-id"
```

或者，它们可以插入到您将创建的配置文件中。请记住将凭据存储在版本控制之外，以确保安全。

```hcl
provider "google" {
  version     = "~> 2.0"
  credentials = "${file("account.json")}"
  project     = "my-project-id"
  region      = "us-west1"
  zone        = "us-west1-b"
}
```
