- var semanticVersion = /^[0-9]+\.[0-9]+/
- var pages = hierarchy.find('menus').filter(page => page.menus.indexOf('cn-header') != -1)

- function isItemActive(itemPath)
  if itemPath == '/cn'
    if path == '/cn'
      - return true
    - return semanticVersion.test(paths[1])
  if itemPath == '/cn/services'
    if `/${path}`.startsWith(itemPath)
      - return !`/${path}`.startsWith(`${itemPath}/kubernetes`)
    - return false
  - return `/${path}`.startsWith('/cn/services/kubernetes')

- var sectionTitle = 'DC/OS文档'
if paths[1] === 'services'
  if paths[2] == 'kubernetes'
    - sectionTitle = 'Kubernetes'
  else
    - sectionTitle = '服务文档'

include header.pug
