- var semanticVersion = /^[0-9]+\.[0-9]+/
- var pages = hierarchy.find('menus').filter(page => page.menus.indexOf('cn-header') != -1)
- var sectionTitle = 'DC/OS文档'

- function isItemActive(itemPath)
  if itemPath == '/cn'
    if path == '/cn'
      - return true
    - return semanticVersion.test(paths[1])
  else
    - return `/${path}`.startsWith(itemPath)

if paths[1] === 'services'
  - sectionTitle = '服务文档'

include header.pug
