- var semanticVersion = /^[0-9]+\.[0-9]+/
- var pages = hierarchy.find('menus').filter(page => page.menus.indexOf('header') != -1)

- function isItemActive(itemPath)
  if itemPath == '/'
    if path == '/'
      - return true
    - return semanticVersion.test(paths[0])
  if itemPath == '/services'
    if `/${path}`.startsWith(itemPath)
      - return !`/${path}`.startsWith(`${itemPath}/kubernetes`)
    - return false
  - return `/${path}`.startsWith('/services/kubernetes')

- var sectionTitle = 'DC/OS Docs'
if paths[0] === 'services'
  if paths[1] === 'kubernetes'
    - sectionTitle = 'DC/OS Kubernetes'
  else
    - sectionTitle = 'Service Docs'


include header.pug
