- var { sphere, product, productName, lang, searchFacet } = Utils.getPathInfo(path)
- isItemActive = function(itemPath){ return itemPath === path || itemPath === "/" + path }
- pages = lang == "cn" ? hierarchy.findMenus(menus => menus.includes('dcos-cn-header') && false) : null
- pages = pages || hierarchy.findMenus((menus) => menus.includes(`${product}-header`))
- sectionSuffix = lang == "cn" ? "文档" : " Documentation"

if draft
  .draft__banner DRAFT
header.header
  div.header__banner <strong class="header__banner-icon">&#9432;</strong> You are viewing the documentation for older DKP releases. If you're looking for the new help center that includes the latest DKP release, go to <a href="https://docs.d2iq.com/">https://docs.d2iq.com</a>.
  a.header__drawer
    i.header__icon(data-feather='menu')
  a.header__logo(href='/')
    img(src='/assets/D2iQ_Logotype_Color_Positive_Documentation.svg', alt='D2IQ').header__logo--mobile
    img(src='/assets/D2iQ_Logotype_Color_Positive_Documentation.svg', alt='D2IQ').header__logo--desktop
  .header__main
    .header__dropdown
      img.header__dropdown-icon(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2iQ')
      strong!= productName + sectionSuffix
      i(data-feather='chevron-down')
    nav.header__menu
      ul.header__menu-list
        each val, index in pages
          li.header__menu-item(class={'header__menu-item--active':isItemActive(val.path) })
            a(href=val.path)!= val.title
        li.header__menu-item
          a(href='https://support.d2iq.com') Support
  if sphere === 'mesosphere' || sphere === 'services'
    include localization-dropdown.pug
  section.header__search(role='search')
    form.header__search-form(action=`/search/`)
      input.header__search-input(id='header-search-input', tabindex='1', type='text', name='q', placeholder='Search')
      input(type='hidden', name='hFR[scope][0]', value=searchFacet)
      label.header__search-label(for='header-search-input')
        i.header__icon(data-feather='search')
include header-dropdown.pug
