header(class='header')
  a(class='header__drawer')
    i(class='header__icon', data-feather='menu')
  a(href='/', class='header__logo')
    img(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2IQ').header__logo--mobile
    img(src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2IQ').header__logo--desktop
  div(class='header__main')
    div(class='header__dropdown')
      img(class='header__dropdown-icon', src='/assets/D2IQ_Logotype_Color_Positive.png', alt='D2IQ')
      strong!= sectionTitle
      i(data-feather='chevron-down')
    nav(class='header__menu')
      ul(class='header__menu-list')
        each val, index in pages
          - var itemClass = {}
          - itemClass['header__menu-item'] = true
          - itemClass['header__menu-item--active'] = isItemActive(val.path)
          li(class=itemClass)
            a(href=val.path)!= val.title
        li(class='header__menu-item')
          a(href='https://support.d2iq.com') Support
  if isKonvoy
    include mesosphere-dropdown.pug
  if (isDCOS)
    include ksphere-dropdown.pug
    include localization-dropdown.pug
  section(class='header__search', role='search')
      form(class='header__search-form', action='/search/', method='GET')
        input(class='header__search-input', id='header-search-input', tabindex='1', type='text', name='q', placeholder='Search')
        label(class='header__search-label', for='header-search-input')
          i(class='header__icon', data-feather='search')
include header-dropdown.pug
