div(class='header-dropdown')
  ul(class='header-dropdown__list')
    each val, index in pages
      if (val.menuWeight !== -1)
        - var itemClass = {}
        - itemClass['header-dropdown__item'] = true
        - itemClass['header-dropdown__item--active'] = (val.path == '/' && semanticVersion.test(paths[0])) || (val.path != '/' && ('/' + path).includes(val.path))
        li(class=itemClass)
          a(href=val.path)!= val.title
    if (!isChinese)
      li(class='header-dropdown__item')
        a(href='https://support.d2iq.com') Support
    if headerSphereItems
      each sphere in headerSphereItems
        li(class='header__menu-item')
          a(href=sphere.path)!= sphere.title