- var menuPages = hierarchy.find('menus')
- var productPages = menuPages.filter(page => page.menus.indexOf('kommander-header') != -1)
- var pages = productPages.sort((a, b) => a.menuWeight - b.menuWeight)
- var sectionTitle = 'Kommander Documentation'

//TODO:: refactor itemActive
- function isItemActive(itemPath)
  - return itemPath === path

include header.pug
