- var semanticVersion = /^[0-9]+\.[0-9]+/
- var menuPages = hierarchy.find('menus')

- var productPages = menuPages.filter(page => page.menus.indexOf('konvoy-header') != -1)
- var pages = productPages.sort((a, b) => a.menuWeight - b.menuWeight)

- var headerItemsUnsorted = hierarchy.find('menus').filter(page => page.menus.indexOf('landing-header') != -1)
- var headerSphereItems = headerItemsUnsorted.filter(page => page.id != 'ksphere')

//TODO:: refactor konvoy itemActive
- function isItemActive(itemPath)
  - var itemPaths = itemPath.split('/')
  if itemPath == '/ksphere/konvoy/latest'
    if paths[2] == 'latest'
      - return true
  if itemPath == '/ksphere/konvoy/partner-solutions'
    if paths[2] == 'partner-solutions'
      - return true

include header.pug
