-
  var ksphereMenu = [{
    "title": "DKP",
    "children": [
      {
        "title": "Konvoy",
        "path":"/dkp/konvoy"
      }, {
        "title": "Partner Solutions",
        "path":"/dkp/konvoy/partner-solutions"
      }, {
        "title": "Kommander",
        "path":"/dkp/kommander"
      }, {
        "title": "Dispatch",
        "path":"/dkp/dispatch"
      }, {
        "title": "Kaptain",
        "path":"/dkp/kaptain"
      }, {
        "title": "Conductor",
        "path":"/dkp/conductor"
      }
    ]
  }]

each sphere in ksphereMenu
  #ks.chooser
    .chooser-current
      a.chooser-title!=sphere.title
      svg(class="chooser-svg" id='kspherer-svg')
        path(class="pointer" d="m 13,6 -5,5 -5,-5 z", fill="#858585")
    ul.chooser-list#kspherer-list
      each section in sphere.children
        li.chooser-list-item
          a(href=section.path)!= section.title
