-
  var ksphere = [
    { "title": "Konvoy",            "path":"/ksphere/konvoy" },
    { "title": "Partner Solutions", "path":"/ksphere/konvoy/partner-solutions" },
    { "title": "Kommander",         "path":"/ksphere/kommander" },
    { "title": "Dispatch",          "path":"/ksphere/dispatch" },
    { "title": "Kubeflow",          "path":"/ksphere/kubeflow" }
  ]

div(class='chooser' id='ks')
  div(class='chooser-current')
    a(class='chooser-title') Ksphere
    svg(class="chooser-svg" id='kspherer-svg')
      path(class="pointer" d="m 13,6 -5,5 -5,-5 z", fill="#858585")
  ul(class='chooser-list' id='kspherer-list')
    each product in ksphere
      li(class='chooser-list-item')
        a(href=product.path)!= product.title
