- var { lang } = Utils.getPathParts(path)

.chooser#localizer
  .chooser-current
    a.chooser-title!= lang == "cn" ? '中文 (简体)' : 'English'
    svg(class="chooser-svg" id="localizer-svg")
      path(class="pointer" d="m 13,6 -5,5 -5,-5 z", fill="#858585")
  ul.chooser-list#localizer-list
    if lang == "cn"
      li.chooser-list-item
        a(href=hierarchy.findLongestExisting("/mesosphere/dcos/" + paths.slice(3).join('/'))) English
    else
      li.chooser-list-item
        a(href=hierarchy.findLongestExisting("/mesosphere/dcos/cn/" + paths.slice(2).join("/"))) 中文 (简体)
