- var { lang } = Utils.getPathInfo(path)

.chooser#localizer
  .chooser-current
    a.chooser-title!= lang == "cn" ? '中文 (简体)' : 'English'
    svg(class="chooser-svg" id="localizer-svg")
      path(class="pointer" d="m 13,6 -5,5 -5,-5 z", fill="#858585")
  ul.chooser-list#localizer-list
    li.chooser-list-item
      if lang == "cn"
          a(href=hierarchy.findLongestExisting(path.replace("/mesosphere/dcos/cn", "/mesosphere/dcos"))) English
      else
          a(href=hierarchy.findLongestExisting(path.replace("/mesosphere/dcos", "/mesosphere/dcos/cn"), "/mesosphere/dcos/cn/")) 中文 (简体)
