-
  var mesosphereMenu = [{
    "title": "Mesosphere",
    "children": [
      {
        "title": "DC/OS",
        "path":"/mesosphere/dcos"
      }, {
        "title": "DC/OS Services",
        "path":"/mesosphere/dcos/services"
      }
    ]
  }]
each sphere in mesosphereMenu
  #spherer.chooser
    .chooser-current
      a.chooser-title!=sphere.title
      svg(class="chooser-svg" id='spherer-svg')
        path(class="pointer" d="m 13,6 -5,5 -5,-5 z", fill="#858585")
    ul.chooser-list#spherer-list
      each section in sphere.children
        li.chooser-list-item
          a(href=section.path)!= section.title
