name: Linting
on: [ pull_request ]

jobs:
  prose:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    continue-on-error: true
    steps:
    - name: Checkout
      uses: actions/checkout@master
    - uses: pierrebeitz/vale-action@ce94dd2b4ef576bf1237f45bf2bbd9ed4877e740
      with:
        onlyAnnotateModifiedLines: true
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
